<h2>How to set up the Environment:</h2>
<div>
  <h4>The Editor</h4>
  <p>
    As a perfect code editor for Angular I would recommend Visual Studio Code.
    It works for all operating systems and comes with an own Git integration and support for TypesScript.
  </p>
  <p>If you don't have it already, just download it:</p>
  <a href="https://code.visualstudio.com/download" target="_blank">Visual Studio Code Download Link</a>

  <h4>Node.js</h4>
  <p>
    Node.js is a runtime environment for running JavaScript on the server and can be used for developing frontend and
    backend.
    It comes with the Node Package Manager (NPM).
  </p>
  <p>If you don't have Node, you can download and install it:</p>
  <p><a href="https://nodejs.org/en/" target="_blank">Node.js Download Link</a></p>
  <p>Next you should try to get the version number on your command line:</p>
  <p class="ui black message"> <code style="font-family:'Consolas';">node -v</code></p>
  <p class="ui black message"> <code style="font-family:'Consolas';">npm -v</code></p>
  <p class="ui info message">Angular requires Node.js version 8.x or 10.x, you always need to keep it up-to-date.</p>
  <p>Now you can install packages like this: </p>
  <p class="ui black message"> <code style="font-family:'Consolas';">npm install your-package-name</code></p>
  <p>Or global like this:</p>
  <p class="ui black message"> <code style="font-family:'Consolas';">npm install -g your-package-name</code></p>

  <h4>Angular-CLI</h4>
  <p>
    Angular-CLI is a command line tool based on Node.js which helps you from the very beginning. When you start a new project, the CLI prepares everything for you:
    It creates your files, installs the npm-packages and creates Git for you. It automatically generates skeletons for components, services, pipes and directives.
  </p>
  <p>
    For Windows users I recommend windows-build-tools for a frictionless setup. You need to execute this installation as an administrator.</p>
  <p class="ui black message"> <code style="font-family:'Consolas';">npm install -g windows-build-tools</code></p>
  <p>Now you can install the Angular-CLI by using this command:</p>
  <p class="ui black message"> <code style="font-family:'Consolas';">npm install -g @angular/cli</code></p>

  <p class="ui red message" style="margin-bottom:30px;">In some cases it might be required to install the Angular-CLI as the user, that will use it. So if it does not work, try to install it with your local user.</p>

  <p class="ui info message" style="margin-bottom:30px;">To help you with all the CLI commands: <a href="assets/files/Cheat-Sheet-Angular-CLI.pdf"
      download>
      Cheat-Sheet
    </a></p>
</div>