<h2>TypeScript Introduction:</h2>
<div class="language-typescript">
    <p>TypeScript is an Open-Source-Project developed by Microsoft. It expands JavaScript, which means that you can write as much
        JavaScript in your TypeScript document as you want.
    </p>
    <p>But it comes with a much stronger type system, as you may know from programing languages like Java and C#.</p>
    <p>Bonus: TypeScript is runnable in every browser and platform as it compiles to pure JavaScript.</p>

    <h4>1. Basic Types</h4>
    <p>When you declare and initialise a variable, it's always the same:</p>
    <pre><code>name: type = value;</code></pre>

    <h5>Number</h5>
	<pre><code>age: number = 5;</code></pre>

	<h5>String</h5>
	<pre><code>firstname: string = "Max Mustermann";</code></pre>

	<br/><p>Template-String: Expressions embedded directly in the string.</p>
	<pre><code>output: string = "$&#123;firstname&#125; is $&#123;age&#125; years old.";</code></pre>

    <h5>Getter and Setter</h5>
    <p>
        Known from object oriented programing. You can read or set the property of an object.
    </p>
    <h5>Boolean</h5>
	<pre><code>let workingHard: boolean = true;</code></pre>

    <h5>Arrays</h5>
	<pre><code>let fibonacci: Array&lt;number&gt; = [0, 1, 1, 2, 3, 5, 8, 13];</code></pre>
	<pre><code>let fibonacci: number[] = [0, 1, 1, 2, 3, 5, 8, ,13];</code></pre>
	<pre><code>let differentValueTypes: any[] = [5, &#123; firstname: "Max Mustermann" &#125;, function() &#123;
		console.warn("Nothing inside.")
		&#125;];</code></pre>

    <h5>Any</h5>
    <p> You can always use the fallback value "any" if you don't know which data type you will get back.</p>

    <h4>2. Classes</h4>
    <pre><code>class Animal &#123; &#125;</code></pre>

    <h5>Properties</h5>
    <p>Extend classes with further information. An animal could have name, age and owner.</p>

    <pre><code>class Animal &#123; 
    public name: string;
    public age: number;
    public owner: string;
&#125;</code></pre>

    <h5>Methods</h5>
    <p>Extend classes with logic. In addition TypeScript allows to precise the signature of the methods with a
        parameter type and a return type. </p>

    <pre><code>class Animal &#123; 
    public name: string;
    public age: number;
    public owner: string;

    changeOwner(owner: string): string &#123;
        this.owner = owner;
        return this.owner;
    &#125;
&#125;</code></pre>

    <p>If you use "void" as return type, the method has no return value.</p>

    <h5>Constructors</h5>
    <p>Constructors are methods which are called during the initialization of a class. Values that are
        necessary later, can be transferred.</p>

    <pre><code>class Animal &#123;
    public name: string;
    public age: number;
    public owner: string;

    constructor(name: string, age: number, owner: string) &#123;
        this.name = name;
        this.age = age;
        this.owner = owner;
    &#125;
&#125;</code></pre>

    <p>As shorthand the use of <code>public</code> on constructor arguments automatically creates these properties:</p>

    <pre><code>class Animal &#123;
    constructor(public name: string, public age: number, public owner: string) &#123;
    &#125;
&#125;</code></pre>

    <p>A difference to other programing languages: Only ONE constructor per class is possible!</p>

    <h5>Inheritance</h5>
    <p>Also known from object-oriented programing, with the keyword  <code>extends</code>.</p>

    <pre><code>class Cat extends Animal &#123; &#125;</code></pre>

    <p>You can use the methods and constructors of the base class with  <code>super()</code>. The methods can be
        rewritten. If a derived class (Cat) is instantiated, you automatically get access to attributes and methods of
        the parent classes (Animal). </p>

    <h4>3. Interfaces</h4>
    <p>Interfaces are used to define a public interface and hide the concrete implementation. It can be determined
        which parts must be included and which types they should have.</p>
    <p>Optional parameters have a  <code>?</code> behind their name e.g. <code>public owner?: string;</code>.</p>
  
    <pre><code>interface Contact &#123;
    firstname: string;
    lastname: string;
    age?: number | string;
&#125;</code></pre>

    <p>If the object gets an additional property or the value doesn't have the required type, you would get an error.
    </p>

    <h5>Indexable Interfaces</h5>
    <p>Interfaces can also be defined by an indexable key. For instance the interface determines the type for all elements of an
        array.</p>
    
    <pre><code>interface StringArray &#123;
    [index: number]: string;
&#125;</code></pre>

    <h5>Interfaces for Functions</h5>
    <p>The key is the function signature. The value of the interface is the return value of the function.</p>

    <h5>Interface for Classes</h5>
    <p>The keyword to implement an Interface is <code>implements</code>. The compiler will display what the
        implementation of the interface requires. That means all defined properties and methods of the interface. Type
        definitions are the same as in interfaces.</p>

    <h4>4. Decorators</h4>

    <pre><code>@Component(&#123;
    // Configuration object
&#125;)
class myComponent &#123; &#125;</code></pre>

    <p>Metadata is added to the class. The Angular-Framework knows that the class must be handled as a component.</p>
    <p>Expressions such as <code>@readonly</code> are not provided in Angular.</p>
</div>

<div class="ui message" style="margin-top: 30px; margin-bottom: 30px;">
    <p>Now that you know all these things, you are ready for a bigger project. Feel free to come back any time, if you
        want to look up something.</p>
</div>