<h2 id="headline">TypeScript Introduction:</h2>
<div class="ui compact menu" id="header_content">
        <div class="ui simple dropdown item">
        Content
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item"><a href="#toc_general">General usage</a></div>
          <div class="item"><a href="#toc_basic_types">Basic Types</a></div>
          <div class="item"><a href="#toc_functions">Functions</a></div>
          <div class="item"><a href="#toc_classes">Classes</a></div>
          <div class="item"><a href="#toc_interfaces">Interfaces</a></div>
          <div class="item"><a href="#toc_decorators">Decorators</a></div>
          <div class="item"><a href="#toc_further_references">Further references</a></div>
        </div>
        </div>
    </div>
    
<div class="language-typescript" id="start_content">
    <p><a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a> is an open-source programming language developed by Microsoft. It is a syntactical superset of JavaScript and therefore only expands JavaScript, which means that every JavaScript program is also valid TypeScript and you can write as much JavaScript in your TypeScript document as you want.
    </p>
    <p>TypeScript is based on <a href="https://www.ecma-international.org/ecma-262/6.0/index.html" target="_blank">ECMAScript 6</a> proposals (partly taken over and standardized in JavaScript) and it comes with a much stronger type system, as you may know from programming languages like Java and C#.</p>
    <p>Bonus: TypeScript can be transpiled to pure JavaScript and thus enables its use in web frontend development.</p>

    <h3 id="toc_general">1. General usage</h3>
    <p>The Angular CLI already installs TypScript for you. Apart from that, normally you install TypeScript once again by using npm:</p>
    <pre class="command-line language-bash" data-user="user" data-host="localhost"><code>npm install -g typescript</code></pre>
    <p>And check your installed version with:</p>
    <pre class="command-line language-bash" data-user="user" data-host="localhost"><code>tsc -v</code></pre>
    <p>
    If you want to play around with TypeScript apart from Angular you simply write your TypeScript code into a <code class="language-bash">.ts</code> file and then use the TypeScript compiler <code class="language-bash">tsc</code> to transpile into pure JavaScript. With the <code class="language-bash">--target</code> or <code class="language-bash">-t</code>option to can choose your desired ECMA/JavaScript version.
    </p>
    <pre class="command-line language-bash" data-user="user" data-host="localhost"><code>tsc &lt;your_ts_file&gt;.ts</code></pre>
    Now your ready to run your generated JavaScript file with Node.js:
    <pre class="command-line language-bash" data-user="user" data-host="localhost"><code>node &lt;your_js_file&gt;.js</code></pre>

    <h3 id="toc_basic_types">2. Basic Types</h3>
    <p>When you declare and initialise a variable, it has always the same strucuture:</p>
    <pre><code>let name: type = value;</code></pre>

    <h5>Number</h5>
    <p>As in JavaScript all numbers are floating point values:</p>
	<pre><code>let age: number = 5;
let pi: number = 3.14;</code></pre>

	<h5>String</h5>
	<pre><code>let firstname: string = "Max";
let lastname: string = 'Mustermann';</code></pre>

	<br/><p>With template strings expressions can be embedded directly into the string:</p>
	<pre><code>let output: string = `$&#123;firstname&#125; is $&#123;age&#125; years old.`;</code></pre>

    <h5>Boolean</h5>
	<pre><code>let workingHard: boolean = true;</code></pre>

    <h5>Array</h5>
	<pre><code>let fibonacci: Array&lt;number&gt; = [0, 1, 1, 2, 3, 5, 8, 13];
let fibonacci2: number[] = [0, 1, 1, 2, 3, 5, 8, ,13];</code></pre>

    <h5>Object</h5>
    Object represents the non-primitive type (anything apart from number, string, boolean, symbol, null or undefined).

    <h5>Enum</h5>
    <p>An enumy always you to give proper names to a set of numeric values. By default enums begin at 0 and and count on, but you can set values manually for each member.</p>
    <pre><code>enum Day &#123;Mon, Tue, Wed, Thu, Fri, Sat, Sun&#125;
let d: Day = Day.Mon;</code></pre>

    <h5>Any</h5>
    <p> You can always use the fallback value <code>any</code> if you don't know which data type you will get back.</p>
    <pre><code>let differentValueTypes: any[] = [5, &#123; firstname: "Max Mustermann" &#125;, function() &#123;
    console.warn("Nothing inside.");
&#125;];</code></pre>

    <h5>Tuple</h5>
    <p>You can express the example above also as a fixed-length array with known, but different, types:</p>
    <pre><code>let differentValueTypes: [number, object, object] = [5, &#123; firstname: "Max Mustermann" &#125;, function() &#123;
    console.warn("Nothing inside.");
&#125;];</code></pre>

    <h5>Union type</h5>
    <p>If a value can be one of several types you can use a vertical bar to separate each acceptable type:</p>
    <pre><code>let id: string | number;</code></pre>

    <h3 id="toc_functions">3. Functions</h3>
    Functions are a key part in each TypeScript application and work pretty much like in JavaScript except for the added types:
    <pre><code>//Named function
function print(message: string): void &#123;
    console.log(message);
&#125;
// Anonymous function
let printFunc = function(message: string): void &#123; console.log(message); &#125;;</code></pre>

    <h5>Optional, default and rest parameters</h5>
    <p>Furthermore parameters can be marked with <code>?</code> as optional, can have a default value if none is provided or may exist in a number that is not known beforehand:</p>
    <pre><code>function (firstName?: string, lastName = "Not provided", ...middleNames: string[]) &#123;
    return firstName + " " + middleNames.join(" ") + lastName;
&#125;</code></pre>

    <h5>Overload</h5>
    <p>JavaScript enables functions to return different typed values dependending on which and how many parameters were passed into it. To still allow type checking in TypeScript you can supply a list of multiple function types as overloads:</p>
    <pre><code>function saveFile(file: string): boolean;
function saveFile(file: File): void;
function saveFile(file): any &#123;
    // Check with which input we are working
    if (typeof file == "string") &#123;
        // Try to find file by its path or create new one
        // Write file to disk
        // Return if newly created or not
    &#125;
    if (typeof file == "File") &#123;
        // Write file to disk
    &#125;
&#125;</code></pre>

    <h3 id="toc_classes">4. Classes</h3>
    The general syntax looks and works familiar if you compare it to Java. A simple example class Animal with the properties <code>age</code>, <code>name</code> and <code>owner</code>, the method <code>changeOwner</code> and a <code>constructor</code> looks like this:
    <pre><code>class Animal &#123;
    name: string;
    age: number;
    owner: string;

    constructor(name: string, age: number, owner: string) &#123;
        this.name = name;
        this.age = age;
        this.owner = owner;
    &#125;

    changeOwner(newOwner: string) &#123;
        this.owner = newOwner;
    &#125;
&#125;

let myAnimal = new Animal("dog", "2", "max mustermann");
</code></pre>

    <p>Member properties of the class are accessed through prepending <code>this.</code>. An instance of the class is created through using <code>new</code>, which calls our previously defined constructor.</p>

    <p>The use of <code>public</code> on constructor arguments is a shorthand to automatically creates these properties:</p>

    <pre><code>class Animal &#123;
    constructor(public name: string, public age: number, public owner: string) &#123;
    &#125;
&#125;</code></pre>

    <p>A notable difference to other programing languages: Only <strong>one</strong> constructor per class is possible!</p>

    <h5>Inheritance</h5>
    <p>Also known from object-oriented programing, with the keyword  <code>extends</code> an existing class can be extended to create a new one:</p>

    <pre><code>class Cat extends Animal &#123; 
    constructor(name: string, age: number, owner: string) &#123;
        super(name, age, owner);
    &#125;

    changeOwner(newOwner = "I am my own king") &#123;
        console.log("I will be always free.");
        super.changeOwner(newOwner);
    &#125;
&#125;</code></pre>

    <p>You can use the methods and constructors of the base class with  <code>super</code>. The methods can be overwritten. If a derived class (Cat) is instantiated, you automatically have the attributes and methods of the parent classes (Animal), too.</p>

    <h5>Modifiers</h5>
    <p>Access to methods and properties can be controlled through the typical modifiers:</p>
    <ul>
        <li><code>public</code>: Default value; free access to the declared members throughout our program.</li>
        <li><code>private</code>: Declared members can only be accessed from within the class; no access from outside.</li>
        <li><code>protected</code>: Much like <code>private</code>, but members declared protected are also accessible within derived classes.</li>
    </ul>

    <pre><code>class Animal &#123;
    public name: string;
    protected age: number;
    protected owner: string;

    private changeOwner(newOwner = "I am my own king") &#123;
        console.log("I will be always free.");
        super.changeOwner(newOwner);
    &#125;
&#125;</code></pre>

    <h5>Accessors</h5>
    <p>To intercept the call to members of an object and control how members are accessed and modified, while retaining the ease of the <code>object.member</code> access, its possible to use <code>get</code> and <code>set</code>:</p>

    <pre><code>class Person &#123;
    private _name: string;
    
    get name(): string &#123;
        return this._name.toLowerCase();
    &#125;

    set name(newName: string): void &#123;
        if(newName) &#123;
            throw new Error("Name can not be empty or null!");
        &#125;
        this._name = newName;
    &#125;
&#125;</code></pre>

    <h5>Static properties</h5>
    <p>Apart from instance members of a class, its also possible to add <code>static</code>s members, which are visibile on the class itself and not on a particular instance:</p>

    <pre><code>class Animal &#123;
    static counter: number = 0;

    constructor(name: string, age: number, owner: string) &#123;
        this.name = name;
        this.age = age;
        this.owner = owner;

        Animal.counter++;
    &#125;
&#125;</code></pre>

    <h5>Abstract classes</h5>
    <p>Its even possible to define base classes, which can not be instantiated directly, but do already contain some implementation logic. Instead only from these base classes derived classes, which have to implement all abstract methods, can be instantiated.</p>

<pre><code>abstract class Animal &#123;
    abstract move(): void;
    print() : void &#123;
        console.log("Animal has number " + Animal.counter);
    &#125;
&#125;</code></pre>

    <div class="ui warning message">
        Be aware that JavaScript uses the prototype-chain under the hood to build up the object-oriented class hierarchies. This approach works different then the object-oriented approach in, for instance, Java. The newly introduced <code>class</code> and other related keywords are only syntactic sugar above this concept.<br>
        A deeper understanding is not needed in our tutorial, but to thoroughly grasp JavaScript one should address this issue:
        <ul>
            <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/Object_prototypes" target="_blank">MDN: Object prototypes</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/Object-oriented_JS" target="_blank">MDN: Object-oriented JavaScript for beginners</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/Basics" target="_blank">MDN: JavaScript object basics</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Inheritance_and_the_prototype_chain" target="_blank">MDN: Inheritance and the prototype chain</a></li>
        </ul>
    </div>
    <h3 id="toc_interfaces">5. Interfaces</h3>
    <p>Type checking in TypeScript looks only at the <i>shape</i> the values have (cf. <a href="https://en.wikipedia.org/wiki/Duck_typing" target="_blank">duck typing</a>). Consequentially interfaces are naming these types and define a contract within your code which typed values must be at least included to fulfill this contract (additional properties are allowed).</p>
    <pre><code>function printID(identifiedObj: &#123;id: string&#125;) &#123;
    console.log(identifiedObj.id);
&#125;</code></pre>
    <p>Here the type checker tests for each object passed in as parameter if it has at least a property called <code>id</code> of type <code>string</code>.<br>
    We can now express this requirement as an interface, too:</p>
<pre><code>interface IdentifiedValue &#123;
    id: string;
&#125;

function printID(identifiedObj: IdentifiedValue) &#123;
    console.log(identifiedObj.id);
&#125;</code></pre>

    <h5>Optional and readonly properties</h5>
    <p>Optional properties have a  <code>?</code> behind their name, e.g. <code>owner?: string;</code>, and are not required.</p>
  
    <pre><code>interface Contact &#123;
    firstname: string;
    lastname: string;
    age?: number | string;
&#125;</code></pre>

    <p>Furthermore properties can defined to be not modifiable after the object was created:</p>
    <pre><code>interface Contact &#123;
    readonly id: string;
    firstname: string;
    lastname: string;
&#125;</code></pre>

    <h5>Indexable types</h5>
    <p>Interfaces can also be defined by an indexable key (cf. dictionary). For instance the interface determines the index signature to index through the object and the return type for all elements of the array.</p>
    
    <pre><code>interface StringArray &#123;
    [index: number]: string;
&#125;

let myStringArray: StringArray;
myStringArray = ["Max", "Manuela"];

let myString: string = myStringArray[1];
</code></pre>

    <h5>Function types</h5>
    <p>Interfaces are even capable to describe function signatures. Therefore we define the parameter list and the return type:</p>

    <pre><code>interface EqualsFunc &#123;
(anObject: object, secondObject: object): boolean
&#125;</code></pre>

    <h5>Class types</h5>
    <p>A common use case is to enforce a class to meet a defined set of named and typed values. The keyword to implement such an interface is <code>implements</code>.</p>
    <pre><code>
interface File &#123; 
    path: string;
&#125;

class BinaryFile implements File &#123;
    path: string;
    encoding: string;
&#125;</code></pre>

    <h5>Extending Interfaces</h5>
    <p>Last but not least its possible for an interface to extend another interface with new properties and take over the existing members:</p>
    <pre><code>interface List &#123;
    next(): object;
&#125;

interface LinkedList extends List &#123;
    previous(): object;
&#125;</code></pre>

    <h3 id="toc_decorators">6. Decorators</h3>

    <pre><code>@Component(&#123;
    // Configuration object
&#125;)
class myComponent &#123; &#125;</code></pre>

    <p>With decorators metadata and additional or modifying features can be annotated to classes and class members. Especially the Angular framework makes heavy use of this technique to mark classes as a components and modules and to configure them. Be aware that this feature is still experimental in TypeScript and may change in future releases.<br>
    Expressions are added with <code>@expression</code>, where <code>expression</code> is a function called at runtime with information about the decorated declaration.</p>
</div>

<div class="ui message" style="margin-top: 30px; margin-bottom: 30px;">
    <p>Now that you know all these things, you are ready for a bigger project. Feel free to come back any time, if you
        want to look up something.</p>
</div>

<h3 id="toc_further_references">Further references</h3>
  <p class="ui info message">To help you with all the keywords, concepts and syntax:<br>
    <a href="https://github.com/iLoveCodingOrg/javascript-cheatsheet/raw/master/js-cheatsheet.pdf" download="js_cheat_sheet" target="_blank"><strong>JavaScript Cheat Sheet</strong></a>
  </p>
  <div class="ui warning message">
    <p><strong>Official documentation:</strong></p>
    <ul>
        <li><a href="https://www.typescriptlang.org/docs/handbook/typescript-in-5-minutes.html" target="_blank">TypeScript in 5 minutes</a></li>
        <li><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">TypeScript: Basic Types</a></li>
        <li><a href="https://www.typescriptlang.org/docs/handbook/variable-declarations.html" target="_blank">TypeScript: Variable Declarations</a></li>
        <li><a href="https://www.typescriptlang.org/docs/handbook/interfaces.html" target="_blank">TypeScript: Interfaces</a></li>
        <li><a href="https://www.typescriptlang.org/docs/handbook/classes.html" target="_blank">TypeScript: Classes</a></li>
        <li><a href="https://www.typescriptlang.org/docs/handbook/functions.html" target="_blank">TypeScript: Functions</a></li>
        <li><a href="https://www.typescriptlang.org/docs/handbook/decorators.html" target="_blank">TypeScript: Decorators</a></li>
        <li><a href="https://www.typescriptlang.org/docs/handbook/declaration-files/do-s-and-don-ts.html" target="_blank">TypeScript: Do's and Don'ts</a></li>
    </ul>
    <p><strong>Advanced concepts:</strong></p>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Source-to-source_compiler" target="_blank">Wikipedia: Transpiler</a></li>
        <li><a href="https://www.typescriptlang.org/docs/handbook/compiler-options.html" target="_blank">TypeScript: Compiler Options</a></li>
        <li><a href="https://www.typescriptlang.org/docs/handbook/tsconfig-json.html" target="_blank">TypeScript: tsconfig.json</a></li>
        <li>To review your basics in JS: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">MDN web docs &gt; JavaScript</a></li>
        <li>What is linting and why to use it?: <a href="https://en.wikipedia.org/wiki/Lint_(software)" target="_blank">Wikipedia &gt; lint (software)</a></li>
        <li><a href="https://eslint.org/" target="_blank">ESLint for JavaScript</a></li>
    </ul>
  </div>