<h2>My first Angular-App:</h2>
<div>
  <h4>Let's start</h4>
  <p>First open your command line and type:
  </p>
  <p class="ui black message"><code>$ ng new my-first-app</code></p>
  <p>A project with all files and folders will be created.</p>
  <p class="ui black message"><code>$ cd my-first-app</code></p>
  <p>Then you can navigate to that project-folder.</p>
  <p class="ui black message"><code>$ ng serve --open</code></p>
  <p>With "serve" you can already run the application and "--open" opens the browser directly on <a href="http://localhost:4200/">http://localhost:4200/</a>
    and shows your brand new application.
  </p>
  <h4>First things first</h4>
  <p>Before we start our big project, we need to know some things about <a routerLink="/typescript">TypeScript</a> in general.</p>
</div>