<h2>My first Angular-App:</h2>
<div>
  <h4>Let's start</h4>
  <p>First open your command line and type:
  </p>
  <p class="ui black message"> <code style="font-family:'Consolas';">ng new my-first-app</code></p>
  <p>You will get the question "<code style="font-family:'Consolas';">? Would you like to add Angular routing?</code>". Answer it with "Yes"! 
    In the next step you can choose which stylesheet format you would like to use. In this tutorial we use CSS.</p>
  <img style="margin-bottom:15px;" class="ui centered large image" src="assets/img/New-Project.png">
  <p> A project which includes all files and folders will be created.</p>
  <p>These are:</p>
  <ul>
    <li>The new workspace with the root folder "my-first-app".</li>
    <li>An initial skeleton app project, also called "my-first-app" which you will find it in the subfolder "src".
    </li>
    <li> An end-to-end test project in the subfolder "e2e".
    </li>
    <li>Related configuration files.</li>
  </ul>
  <p class="ui black message"> <code style="font-family:'Consolas';">cd my-first-app</code></p>
  <p>Then you can navigate to that project-folder. If you get an answer like this from your system: "<code
      style="font-family:'Consolas';">added 1098 packages from 1166 contributors and audited 39144 packages in 35.242s
      <span class="bold">found 3 vulnerabilities (2 low, 1 high)</span></code>", just follow the instructions on your command
    line (<code style="font-family:'Consolas';">npm audit fix</code> or similar) and it will be fine.</p>
  <p class="ui black message"> <code style="font-family:'Consolas';">ng serve --open</code></p>
  <p>With "serve" you can already run the application and "--open" opens the browser directly on <a
      href="http://localhost:4200/">http://localhost:4200/</a>
    and shows your brand new application.
  </p>
  <h4>First things first</h4>
  <p>Before we start our big project, we need to know some things about <a routerLink="/typescript">TypeScript</a> in
    general.</p>
</div>