<h2>HTTP</h2>
<div *ngIf="theoryLarge" style="margin-bottom: 20px;" class="ui message">
  <h4>Http</h4>
  <p>
    Most front-end applications interact with the backend over HTTP protocol. In fact, every application loads data at
    runtime. Different patterns can be used. Angular uses the RxJS-Framework, that is based on the observable pattern.
    The Angular class <code>Http</code> implements this pattern and provides a interface, where you can load data
    asynchonous.
  </p>
  <p>Often web-applications use REST-server. They use http methods to define actions, e.g. what action should the server
    run for the specific resource.</p>
  <ul>
    <li>GET: is used to request a ressource from the server, e.g. a list with items</li>
    <li>POST: to add a new resource or update an existing one, e.g. adds or updates an item of that list</li>
    <li>PUT: replaces an existing resource, e.g. replaces one item or one list with another item or list</li>
    <li>DELETE: deletes a resource by the sent id</li>
  </ul>
  <p>The term "resource" refers to a single data object of a REST server. The path of the request tells the
    server which resource to do an action on. For example can you make a request for a list with the path
    <code>/list</code> and the method <code>GET</code>. And with the path <code>/list/1234</code> you could request the
    list-item 1234.</p>
  <h4>Observables</h4>
  <p>Reactive programming is a programming paradigma. It is about data streams. As an example calculation tables in MS
    Excel can be used. It is not about Excel, it is about the table. If you have cells in the table connected by a
    formula and you change a value in a connected cell, the outcome of the formula will be updated automatically.
    Angular supports reactive programming with the RxJS-Framework. Observables are the main construct of the RxJS
    library. Observables represent a data stream supplied by a source. They have the following tasks:</p>
  <ul>
    <li>Generate data</li>
    <li>Allow the use of operators, to manipulate data</li>
    <li>Release storage, if data stream is no longer needed</li>
  </ul>
  <p> <code>subscribe</code>-method: it is used to listen and react to signals of the observable. The signature could
    look like this:
    <code>obs.subscribe((data) => &#123;...&#125;);</code></p>
  <p><code>pipe</code>-method: chains the operators of observables. The method gets null or more operators and returns
    an observable.
    The data of the returned observable have the same type as they have in the last operator</p>
  <ul>
    <li><code>map</code>-operator: gets an observable internally, gives the data of the observable to the transformation
      function,
      gets the return value and puts it in an observable. This new observable is forwarded to the next operator</li>
    <li><code>mapTo</code>-operator: forwards a static value</li>
    <li><code>tap</code>-operator: is used for side-effects. Can be used to print the data stream on the console, or to
      save data from the server in a property</li>
    <li><code>catchError</code>-operator: is compareable to the <code>catch</code> of a <code>try/catch</code>-block. It
      gets an error, handles the error and returns a new observable or a new error-observable for the next
      <code>catchError</code>-operator</li>
    <li><code>of</code>-operator: creates a new observable from a static value</li>
    <li><code>throwError</code>-operator: creates a new error-observable. It is similar to the <code>throw</code>
      command</li>
  </ul>
  <h4>Http-Module</h4>
  <p>The http-module contains three Angular modules: <code> HttpClientModule, HttpClientJsonpModule</code> and
    <code>HttpClientXsrfModule</code>. The most important classes of the http-module are:</p>
  <ul>
    <li><code>HttpHeaders</code>: helps you to define and manipulate the http-headers of a server request</li>
    <li><code>HttpParams</code>: helps you to define and manipulate the request parameter of a server request</li>
    <li><code>HttpRequest</code>: represents server requests. An instance of this class contains URL and http-headers
      for
      the request. You do not assign instances of this class, Angular will do this internally.</li>
    <li><code>HttpResponse</code>: represents an answer from the server. It contains for example the status the server
      has for the request and the data the server sends.</li>
    <li><code>HttpErrorResponse</code>: represents an error-answer from the server. The answer of the server fails when
      the connection fails, an exception is in your code or the server status code is bigger or equals 400.
    </li>
  </ul>
  <p>We will work with the <code>HttpClientModule</code>. It provieds the <code>HttpClient</code> service. All methods
    of the <code>HttpClient</code> service return observables and use json data. The use of json data means that Angular
    serializes and deserializes the data for you.</p>
</div>
<h4>Using a Data Server</h4>
<div *ngIf="theorySmall" style="margin-bottom: 20px;" class="ui message">
  <p>The service class should get the data now with HTTP requests. We want to add functions:</p>
  <ul>
    <li><b>C</b>reate for adding new lectures</li>
    <li><b>R</b>ead (we already have that)</li>
    <li><b>U</b>pdate for changing a lecture item</li>
    <li><b>D</b>elete for deleting a lecture item or all of them</li>
  </ul>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <p>Import this in <b>app.module.ts</b>:</p>
  <p class="ui message black"> <code>import &#123; HttpClientModule &#125; from '@angular/common/http';
  </code></p>
  <p>And add it to the <code>imports</code> array:</p>
  <p class="ui message black"> <code>
    imports: [ <br/>
      &nbsp; ...,<br/>
      &nbsp; HttpClientModule<br/>
    ],
    </code></p>
  <p>The In-Memory Web API Module will be used. It imitates the communication with a remote data server. First install
    the npm package and generate the InMemoryData-Service:</p>
  <p class="ui message black"> <code>npm install angular-in-memory-web-api --save</code></p>
  <p class="ui message black"> <code>ng g service shared/InMemoryData</code></p>
  <p>Import to <b>app.module.ts</b>:</p>
  <p class="ui message black"> <code>import &#123; HttpInMemoryWebApiModule &#125; from 'angular-in-memory-web-api; <br/>
    import &#123; InMemoryDataService &#125; from './shared/in-memory-data.service';
    </code></p>
  <p>And you also need to add it to the <code>imports</code> array:</p>
  <p class="ui message black"> <code>
      imports: [ <br/>
        &nbsp; ...,<br/>
        &nbsp; HttpClientModule,<br/>
        &nbsp; HttpClientInMemoryWebApiModule.forRoot(<br/>
        &nbsp; InMemoryDataService, <br/>
        &nbsp; dataEncapsulation: false }) <br/>
      ],
      </code></p>
  <p>If you have this problem, don't worry, we will fix it now.
  </p>
  <img style="margin-bottom:15px;" class="ui centered large image" src="assets/img/InMemoryData-Error.png">
  <p>The class <code><b>InMemoryDataService</b></code> needs to implement <code>InMemoryDbService</code> and the
    property
    <code>createDb</code> is missing.</p>
  <p class="ui message black"> <code>
        export class InMemoryDataService implements InMemoryDbService &#123; <br/>
          &nbsp; createDb() &#123;<br/>
          &nbsp;&nbsp; const lectures = [];<br/>
          &nbsp;&nbsp; return &#123;lectures&#125;;<br/>
          &nbsp; &#125; <br/>
          &#125;
        </code></p>
  <p>Therefor you need to import:</p>
  <p class="ui message black"> <code>import &#123; InMemoryDbService &#125; 'angular-in-memory-web-api';</code></p>
  <p>Now we need to fill the <code>const lectures</code> with the data we have in <code>mock-lectures.ts</code>.</p>
  <p>To be sure every new lecture will have an unique id we add the method <code>genId()</code>. If the array is
    empty the initial id 11 will be used, otherwise the highste id + 1 will be used.</p>
  <p class="ui message black"> <code>  genId(lectures: Lecture[]): number &#123; <br/>
    &nbsp; return lectures.length > 0 ? Math.max(...lectures.map(lecture => lecture.id)) + 1 : 11;<br/> 
      &#125;</code></p>
  <h4>Update the Getter</h4>
  <p>To get the data from the remote server now, we need to update the getter-methods for the lecture array and the
    single lecture item. First we define in <b>lecture.service.ts</b> the <code>lecturesUrl</code> of the form
    <code>:base/:collectionName</code> with the address of the lecture resource on the server. Here base is the
    resource to which requests are made, and <code>collectionName</code> is the lectures data object in the
    in-memory-data-service.ts.</p>
  <p class="ui message black"><code>private lectureUrl = 'api/lecture';</code></p>
  <p>Injection into the constructor:</p>
  <p class="ui message black"><code>constructor( private http: HttpClient ) &#123; &#125;</code></p>
  <p class="ui message black"> <code>import &#123; HttpClient &#125; from '@angular/common/http';</code></p>
  <p>And now change the getter:</p>
  <p class="ui message black"><code>
      getLectures(): Observable&lt;Lecture[]&gt; &#123; <br/>
      &nbsp; return this.http.get&lt;Lecture[]&gt;(this.lectureUrl) <br/>
          &#125;
          </code></p>
</div>
<div *ngIf="theorySmall" style="margin-top: 20px;" class="ui message">
  <p>All HttpClient methods return a RxJS-Observable of something. HTTP is a request / response protocol. Every time
    you make a request you will get a single response. </p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <p>There might go something wrong with the data of the remote
    server sometimes, that's why <code>getLectures()</code> should catch an error and do something appropriate with it.
    So we need a method for that:</p>
  <p class="ui message black"><code>
        private handleError&lt;T&gt;(operation = 'operation', result?: T)  &#123;<br/>
        &nbsp; return (error: any): Observable&lt;T&gt; =>  &#123;<br/>
        &nbsp;&nbsp; console.log(operation + ' failed: ' + error);<br/>
        &nbsp;&nbsp; return of (result as T);<br/>
        &nbsp; &#125;<br/>
              &#125;
      </code></p>
  <p>If something goes wrong now the error will be logged on the console. In addition the method will return a safe
    value, that will keep the application running. The next step is to import <code>catchError</code> and add it to the
    get method.</p>
  <p class="ui message black"> <code>import &#123; catchError, map, tap &#125; from 'rxjs/operators';</code></p>

  <p class="ui message black"><code>
        getLectures(): Observable&lt;Lecture[]&gt; &#123; <br/>
        &nbsp; return this.http.get&lt;Lecture[]&gt;(this.lectureUrl) <br/>
        &nbsp; .pipe( <br/>
        &nbsp;&nbsp; catchError(this.handleError('getLectures', [])) <br/>
        &nbsp; );<br/>
            &#125;
        </code>
  </p>
  <p class="ui info message"><code>get</code>
    <br />Retrieve information.
  </p>

  <p>We also need to change the getter method for the single lecture:</p>
  <p class="ui message black"><code>
      getLecture(id: number): Observable&lt;Lecture&gt; &#123; <br/>
      &nbsp; const url = `$&#123;this.lectureUrl&#125;/$&#123;id&#125;`; <br/>
      &nbsp; return this.http.get&lt;Lecture&gt;(url) <br/>
      &nbsp; .pipe( <br/>
      &nbsp;&nbsp; catchError(this.handleError&lt;Lecture&gt;(`getLecture id=$&#123;id&#125;`)) <br/>
      &nbsp; );<br/>
          &#125;
      </code>
  </p>
  <p>The <code>const url</code> is defined as :baseURL/:id so that the url is returned with ID and is retrieved from
    the
    server with <code>http.get()</code>.</p>
  <p>With these steps the class mock-lectures.ts is useless now. You are safe to delete the class and also its import
    to lecture.service.ts.</p>
  <h4>Change Lecture Details</h4>
  <p>We want to be able to change something in the details of a lecture. In the detail view we can display our lecture
    in a form, but we need to write the changes on the server, if we want to have them permanent. We need to prepare a
    function in <b>lecture.service.ts</b>.</p>
  <p class="ui message black"> <code>
      import &#123; HttpHeaders &#125; from '@angular/common/http'; <br/> <br/>
      const httpOptions = &#123; <br/>
      headers: new HttpHeaders (&#123; 'Content-Type': 'application/json'&#125;) &#125;</code></p>

  <p class="ui message black"><code>
      updateLecture(lecture: Lecture): Observable&lt;any&gt; &#123; <br/>
        &nbsp; return this.http.put(this.lectureUrl, lecture, httpOptions) <br/>
        &nbsp; .pipe( <br/>
        &nbsp;&nbsp; catchError(this.handleError&lt;any&gt;('updateLecture')) <br/>
        &nbsp; );<br/>
            &#125;
        </code>
  </p>
  <p class="ui info message"><code>put</code>
    <br />Store an entity at a URI. PUT can create a new entity or update an existing one.
  </p>
</div>
<div *ngIf="theorySmall" style="margin-top: 20px;" class="ui message">
  <p>The method <code>HttpClient.put()</code> needs three parameters: </p>
  <ul>
    <li>URL: the url has not changed. The Web-API knows what lecture to update, because of the ID</li>
    <li>the data that should be updated</li>
    <li>options: the Web-API expects a special header in the storage requirements of HTTP. This header is in the
      LectureService as the constant <code>httpOptions</code> defined.</li>
  </ul>
</div>

<div *ngIf="praxis" style="margin-top: 20px;">
  <p>Use the method from the service now to write a <code>save()</code> method in <b>lecture-details.component.ts</b>.
  </p>
  <p class="ui message black"><code>
    save(): void &#123;<br/>
    &nbsp; this.lectureService.updateLecture(this.lecture)<br/>
    &nbsp; .subscribe(() => this.goBack());<br/>
    &#125;
</code></p>
  <p>Afterwards you can add the button in <b>lecture-details.component.hmtl</b> with the click-event-binding and check
    if all input fields are filled.</p>
  <p class="ui message black"><code>&lt;button class="ui primary button" (click)="save()"&gt;Save&lt;/button&gt; <br/>
      &lt;p style="color:red" *ngIf="!lecture.name || !lecture.room || 
      !lecture.day || !lecture.time.hours || !lecture.time.minutes || !lecture.building || !lecture.floor">Please
          check again, if you filled all input fields correctly!&lt;/p&gt;
  </code></p>
</div>

<div *ngIf="praxis" style="margin-top: 20px;">
  <h4>Add a new Lecture</h4>
  <p>First we need a new component for the input form:</p>
  <p class="ui message black"><code>ng g component lecture-add</code></p>
  <p>Afterwards we copy the input form from lecture-details.component.html and make the neccessary changes.</p>
  <p>Everytime you see something like <code>[(ngModel)]="lecture.name"</code> replace it with something like
    <code>#lectureName</code>.</p>
  <p class="ui info message">
    Element Reference: Direct access to a DOM-element. Creates a local variable something that provides access to the
    element instance in data-binding and event-binding expressions in the current template. Syntnax:<br />
    <code>#something</code>
  </p>
  <p>All of them should look like this example: </p>
  <p class="ui message black"><code>
      &lt;input #lectureName placeholder="Name" /&gt;
  </code></p>
  <p><b>Important:</b> Delete the <code>*ngIf="lecture"</code> at the beginning! Otherwise this component will not
    display anything.</p>
  <p>Call the button below "Add" and delete the function, we need to write one first.
  </p>
  <p>In a next step add the component to the routing and to the navigation:</p>
  <p><b>routing.module.ts</b></p>
  <p class="ui message black"><code>import &#123; LectureAddComponent &#125; from './lecture-add/lecture-add.component';
    <br/><br/>
    const routes: Routes = [<br/>
  &nbsp; ...<br/>
  &nbsp; &#123; path: 'lecture-add', component: LectureAddComponent &#125; <br/>
];
  </code></p>
  <p><b>app.component.html</b></p>
  <p class="ui message black"><code>
      &lt;div class="ui three item menu"&gt;<br/>
  &nbsp; ...<br/>
  &nbsp;     &lt;a class="item" routerLink="/lecture-add" routerLinkActive="active"&gt;<br/>
  &nbsp; Add<br/>
  &nbsp; &lt;/a&gt; <br/>
  &lt;/div&gt;
  </code></p>
  <p>There are also some things we can take over from the details component and the timetable and insert it into
    <b>lecture-add.component.ts</b>,
    that it looks like this:</p>
  <p class="ui message black"><code>
        import &#123; LectureService &#125; from '../shared/lecture.service';<br/>
        import &#123; Lecture &#125; from '../shared/lecture';<br/>
        import &#123; Location &#125; from '@angular/common';
    </code></p>
  <p class="ui message black"><code>
        export class LectureAddComponent implements OnInit &#123;<br/>
        &nbsp; lectures: Lecture[];<br/><br/>
        
        &nbsp; constructor(    <br/>
        &nbsp;  &nbsp; private lectureService: LectureService,<br/>
        &nbsp;  &nbsp; private location: Location<br/>
        &nbsp; ) &#123; &#125;<br/><br/>
        
        &nbsp; ngOnInit() &#123;<br/>
        &nbsp;  &nbsp;  this.getLectures();<br/>
        &nbsp; &#125;<br/><br/>
        
        &nbsp; getLectures(): void &#123;<br/>
        &nbsp;  &nbsp;  this.lectureService.getLectures()<br/>
        &nbsp;  &nbsp;   .subscribe(lectures =&gt; this.lectures = lectures);<br/>
        &nbsp;  &#125;<br/><br/>

        &nbsp; goBack(): void&#123;<br/>
        &nbsp;  &nbsp;   this.location.back();<br/>
        &nbsp;   &#125;<br/><br/>
        
           &#125;
    </code></p>
  <p>Write the <code>addLecture</code> method in the <b>lecture.service.ts</b> now:</p>
  <p class="ui message black"><code>
        addLecture(lecture: Lecture): Observable&lt;Lecture&gt; &#123;<br/>
        &nbsp; return this.http.post&lt;Lecture&gt;(this.lectureUrl, lecture, httpOptions)<br/>
        &nbsp; .pipe(<br/>
        &nbsp; &nbsp;   catchError(this.handleError&lt;Lecture&gt;('addLecture'))<br/>
        &nbsp; );<br/>
          &#125;
    </code></p>
  <p class="ui info message"><code>post</code>
    <br />Request that the resource at the URI do something with the provided entity. Often POST is used to create a
    new entity, but it can also be used to update an entity.
  </p>
  <p>We can use it again in the <b>lecture-add.component.ts</b>:</p>
  <p class="ui message black">
    <code>
          add( name: string,  building: string, <br/>
          &nbsp; floor: string, room: string, day: string, hours: number, minutes: number, <br/>
          &nbsp; department?: string): void &#123;<br/>
          &nbsp; &nbsp; let time = &#123;hours, minutes&#125;;<br/>
          &nbsp; &nbsp; if(!name || !room || !day || !time || !building || !floor )&#123; <br/>
          &nbsp; &nbsp; &nbsp; &nbsp; this.fieldsEmpty=true; <br/>
          &nbsp; &nbsp; &nbsp; &nbsp; return; &#125;<br/>
          &nbsp; &nbsp; this.lectureService.addLecture(&#123; name, building, floor, room, day, time, department&#125; as Lecture)<br/>
          &nbsp; &nbsp; &nbsp; &nbsp; .subscribe(lecture => &#123;<br/>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  this.lectures.push(lecture);<br/>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; this.goBack();<br/>
          &nbsp; &nbsp; &nbsp; &nbsp; &#125;);<br/>
          &#125;
      </code>
  </p>
  <p>We will get name, room and the other values from the form we have in the HTML. We will combine minutes and hours
    to a time object, because <code>Lecture</code> expects a <code>Time</code> object. With the if statement we check
    if one of them has no value. This can happen if the user didn't type a name for example. Therefor we need this
    <code>Boolean</code>. We are going to ask in the HTML later if it's true or false and print a message complete the
    form. But first we need to initialize it in <b>lecture-add.component.ts</b>.</p>
  <p class="ui message black"><code>fieldsEmpty: Boolean = false;</code></p>
  <p>The rest of the function you should already recognize. We use the function from the service and subscibe it. With
    <code>push</code> we add it to the array.</p>
  <p>Last step is to complete the <b>lecture-add.component.html</b>.</p>
  <p class="ui message black"><code>
        &lt;button class="ui primary button" (click)="add( <br/>
        &nbsp;   lectureName.value, <br/>
        &nbsp;   lectureBuilding.value, <br/>
        &nbsp;   lectureFloor.value, <br/>
        &nbsp;   lectureRoom.value, <br/>
        &nbsp;   lectureDay.value, <br/>
        &nbsp;   lectureHours.value, <br/>
        &nbsp;   lectureMinutes.value,<br/>
        &nbsp;   lectureDepartment.value)">Add<br/>
          &lt;/button&gt;<br/>
          &lt;p style="color:red" *ngIf="fieldsEmpty==true"&gt;Please check again, if you filled all input fields correctly!&lt;/p&gt;<br/>
          &lt;button class="ui button" (click)="goBack()"&gt;Go Back&lt;/button&gt;
    </code></p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <h4>Delete Lectures</h4>
  <p>Same procedure again. Prepare a function in <b>lecture-service.ts</b>.</p>
  <p class="ui message black"><code>
      deleteLecture(lecture: Lecture | number ): Observable&lt;Lecture&gt; &#123;<br/>
      &nbsp; const id = typeof lecture === 'number' ? lecture : lecture.id;
      &nbsp; const url = `$&#123;this.lectureUrl&#125;/$&#123;id&#125;`;
      &nbsp; return this.http.delete&lt;Lecture&gt;(url, httpOptions)<br/>
      &nbsp; .pipe(<br/>
      &nbsp; &nbsp;   catchError(this.handleError&lt;Lecture&gt;('deleteLecture'))<br/>
      &nbsp; );<br/>
        &#125;
  </code></p>
  <p>Use it in <b>timetable.component.ts</b>:</p>
  <p class="ui message black"><code>
      delete(lecture: Lecture): void &#123;<br/>
      &nbsp;  this.lectures = this.lectures.filter(l =&gt; l !== lecture);<br/>
      &nbsp;  this.lectureService.deleteLecture(lecture).subscribe();<br/>
      &#125;<br/><br/>
  </code></p>
  <p>And there should be a function to delete all lectures with one click:</p>
  <p class="ui message black"><code>
      deleteAll():void &#123;<br/>
      &nbsp;  for(let lecture of this.lectures) &#123;<br/>
      &nbsp; &nbsp; this.delete(lecture);<br/>
      &nbsp;  &#125;<br/>
      &#125;<br/><br/>
  </code></p>
  <p>Since we provided the functions, we can add them to new buttons now. We just need to keep them in a
    <code>div</code>
    to check if the <code>lectures</code> already have data, otherwise we will have a timing problem at this point.</p>
  <p class="ui message black"><code>
    &lt;div *ngIf="lectures"&gt;<br/>
    &nbsp;&lt;button class="ui primary button" routerLink="/lecture-add">Add Lecture&lt;/button&gt;<br/>
    &nbsp;&lt;button class="ui button" (click)="deleteAll()" *ngIf="lectures.length&gt;0"&gt;Delete All&lt;/button&gt;<br/>
    &nbsp;&lt;div *ngIf="lectures.length&gt;0" style="padding: 15px;"&gt;<br/>
    &nbsp;&nbsp; &lt;div class="ui middle aligned divided list"&gt;<br/>
    &nbsp;&nbsp; &nbsp; &lt;div *ngFor="let l of lectures" class="item"&gt;<br/>
    &nbsp;&nbsp; &nbsp; &nbsp; &lt;a class="app-lecture-item item" [lecture]="l" routerLink="/lecture-details/&#123; &#123;l.id&#125; &#125;" <br/>
    &nbsp;&nbsp; &nbsp; &nbsp; style="margin: 10px; padding:10px">&lt;/a><br/>
    &nbsp;&nbsp; &nbsp; &nbsp; &lt;button (click)="delete(l)" class="ui button"&gt;Delete&lt;/button&gt;<br/>
    &nbsp;&nbsp; &nbsp; &lt;/div&gt;<br/>
    &nbsp;&nbsp; &lt;/div&gt;<br/>
    &nbsp;&lt;/div&gt;<br/><br/>

    &nbsp;&lt;div *ngIf="lectures.length==0" style="padding: 15px;"&gt;<br/>
    &nbsp;&nbsp;  &lt;p&gt;No Items in the Timetable!&lt;/p&gt;<br/>
    &nbsp;&lt;/div&gt;<br/>
    &lt;/div&gt;
    </code></p>
  <p>Now that we have all functions we wanted to edit the timetable, we are ready to finalize the application. </p>

  <h4>Visualization of the Construction:</h4>
  <p><img class="ui image big centered" src="assets/img/App-Building-9.png"></p>
  <iframe style="margin-top:20px; width:100%; height: 500px"
    src="https://stackblitz.com/edit/where-to-go-step-7?embed=1&file=src/app/timetable/timetable.component.ts&hideNavigation=1"></iframe>
</div>