<h2>Components, FormModules and Directives</h2>
<div *ngIf="praxis" style="margin-top: 20px;" class="ui info message">
    <h5>User Story</h5>
    <p>As an <b>user</b><br />
      I want to <b>display all lectures in a timetable and click to select one</b>, <br />
      to <b> look through all of them and change the selected one</b>.</p>
  </div>
<div *ngIf="praxis">
    <h4>Mock Data</h4>
    <p>Later we will have more than one lecture and therefor we are going to need a list to display all of them. </p>
    <p class="ui message black"><code style="font-family:'Consolas';">ng g component timetable</code></p>
    <p>Because we don't get our data from a server we will create some mock-data and pretend they are from a server.</p>
    <p class="ui message black"><code style="font-family:'Consolas';">ng g class shared/mock-lectures</code></p>
    <p>In this class we define the constant LECTURES as an Array of lectures and export it. The content is the same
        like the property lecture from the lecture-item.component.ts, so you can copy the first from there and paste
        them a few times for different lectures. The id must always be different!</p>
    <div class="ui info message">
        <p>Later we will have drop-downs for day, time and building. To avoid problems, please make sure that: <br>
            Your day looks like that: Monday, Tuesday, Wednesday, Thursday, Friday.<br>
            Your hours are between 08 and 19 and always consists of two numbers.<br>
            Your minutes are 00, 15, 30 or 45.<br>
            Your building is KR1, WE5, F21 or M3.
        </p>
    </div>

    <div class="ui message black">
        <pre style="font-family:'Consolas'; font-size:10pt; color:#ffffff; "><span style="color:#ffffff;">export </span><span style="color:#359aff;">const</span><span style="color:#ffffff;"> LECTURES</span><span style="color:#008000;">:</span><span style="color:#ffffff;"> Lecture</span><span style="color:#008000;">[] </span><span style="color:#008000;">= </span><span style="color:#008000;">[
    </span><span style="color:#b16565;">&#123;
        </span><span style="color:#ffffff;">id</span><span style="color:#008000;">: </span><span style="color:#00ff40;">1</span><span style="color:#b16565;">,
        </span><span style="color:#ffffff;">name</span><span style="color:#008000;">: </span><span style="color:#ffff80;">&#39;Webtechnologien&#39;</span><span style="color:#b16565;">,
    </span><span style="color:#ffffff;">    room</span><span style="color:#008000;">: </span><span style="color:#ffff80;">&#39;075&#39;</span><span style="color:#b16565;">,
    </span><span style="color:#ffffff;">    day</span><span style="color:#008000;">: </span><span style="color:#ffff80;">&#39;Monday&#39;</span><span style="color:#b16565;">,
    </span><span style="color:#ffffff;">    time</span><span style="color:#008000;">: </span><span style="color:#b16565;">&#123;</span><span style="color:#ffffff;"> hours</span><span style="color:#008000;">: </span><span style="color:#00ff40;">10</span><span style="color:#b16565;">,</span><span style="color:#ffffff;"> minutes</span><span style="color:#008000;">: </span><span style="color:#00ff40;">15 </span><span style="color:#b16565;">&#125;,
    </span><span style="color:#ffffff;">    building</span><span style="color:#008000;">: </span><span style="color:#ffff80;">&#39;WE5&#39;</span><span style="color:#b16565;">,
        </span><span style="color:#ffffff;">floor</span><span style="color:#008000;">: </span><span style="color:#ffff80;">&#39;02&#39;</span><span style="color:#b16565;">,
    </span><span style="color:#ffffff;">    department</span><span style="color:#008000;">: </span><span style="color:#ffff80;">&#39;Lehrstuhl für Medieninformatik&#39;
    </span><span style="color:#b16565;">&#125;,
    </span><span style="color:#b16565;">&#123;
        </span><span style="color:#ffffff;">id</span><span style="color:#008000;">: </span><span style="color:#00ff40;">2</span><span style="color:#b16565;">,
    </span><span style="color:#ffffff;">    ... and so on
    </span><span style="color:#b16565;">&#125;
</span><span style="color:#008000;">]</span></pre>
    </div>
    <p>Of course we also need to import the class <code style="font-family:'Consolas';">Lecture</code>.</p>
    <div class="ui message black">
      <pre
      style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#359aff;">import </span><span style="color:#b16565;">&#123;</span><span style="color:#ffffff;"> Lecture </span><span style="color:#b16565;">&#125;</span><span style="color:#ffffff;"> from </span><span style="color:#ffff80;">&#39;./lecture&#39;</span><span style="color:#b16565;">;</span></pre>
    </div>

    <p>After that, you can delete the property lecture from the <b>lecture-item.component.ts</b> and initialize the
        constant in the <b>timetable.component.ts</b>, because we need the data in the list now.</p>
 
    <div class="ui message black">
        <pre
            style="font-family:'Consolas'; font-size:10pt; color:#ffffff; "><span style="color:#ffffff;">lectures </span><span style="color:#008000;">=</span><span style="color:#ffffff;"> LECTURES</span><span style="color:#b16565;">;</span></pre>
    </div>
    <p>Of course we also need to import the class <code style="font-family:'Consolas';">Lecture</code>.</p>
    <div class="ui message black">
      <pre
      style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#359aff;">import </span><span style="color:#b16565;">&#123;</span><span style="color:#ffffff;"> Lecture </span><span style="color:#b16565;">&#125;</span><span style="color:#ffffff;"> from </span><span style="color:#ffff80;">&#39;./lecture&#39;</span><span style="color:#b16565;">;</span></pre>
    </div>


    <h4>Display a List</h4>
    <p>
        We generated our shell for the lecture items. The timetable is going to be a list with all the lectures we
        have.
    </p>
    <p>First we have to write the code for the a single lecture item and replace the code in <b>lecture-item.component.html</b>: </p>

    <div class="ui message black">
        <pre style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#359aff;">&lt;a </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;content&quot;</span><span style="color:#359aff;">&gt;
    </span><span style="color:#359aff;">&lt;div </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;header&quot;</span><span style="color:#359aff;">&gt;</span><span style="color:#ffffff;">What? <span>{{</span>lecture.name | uppercase<span>}}</span></span><span style="color:#359aff;">&lt;/div&gt;
    </span><span style="color:#359aff;">&lt;div </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;description&quot;</span><span style="color:#359aff;">&gt;</span><span style="color:#ffffff;">Where? <span>{{</span>lecture.building<span>}}</span>/
        <span>{{</span>lecture.floor<span>}}</span>.<span>{{</span>lecture.room<span>}}</span></span><span style="color:#359aff;">&lt;/div&gt;
    </span><span style="color:#359aff;">&lt;div </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;description&quot;</span><span style="color:#359aff;">&gt;</span><span style="color:#ffffff;">When? <span>{{</span>lecture.day<span>}}</span>, 
        <span>{{</span>lecture.time.hours<span>}}</span>:<span>{{</span>lecture.time.minutes<span>}}</span></span><span style="color:#359aff;">&lt;/div&gt;
    </span><span style="color:#359aff;">&lt;div</span><span style="color:#ffffff;"> *ngIf</span><span style="color:#ff4848;">=</span><span style="color:#ffffff;">&quot;lecture.department&quot; </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;description&quot;</span><span style="color:#359aff;">&gt;</span><span style="color:#ffffff;">Department: 
        <span>{{</span>lecture.department<span>}}</span></span><span style="color:#359aff;">&lt;/div&gt;
&lt;/a&gt;</span></pre>

    </div>
    <p>Next change the selector in the <b>lecture-item.component.ts</b>:</p>
    <div class="ui message black">
        <pre
            style="font-family:'Consolas'; font-size:10pt; color:#ffffff; "><span style="color:#ffffff;">selector</span><span style="color:#008000;">: </span><span style="color:#ffff80;">&#39;a.app-lecture-item&#39;</span><span style="color:#b16565;">,</span></pre>
    </div>
    <p>And insert this right above the empty constructor:</p>

    <div class="ui message black">
        <pre
            style="font-family:'Consolas'; font-size:10pt; color:#ffffff; "><span style="color:#ffffff;">@</span><span style="color:#ff4848;">Input</span><span style="color:#b16565;">()</span><span style="color:#ffffff;"> lecture</span><span style="color:#008000;">:</span><span style="color:#ffffff;"> Lecture</span><span style="color:#b16565;">;</span></pre>
    </div>
</div>
<div *ngIf="theoryLarge" style="margin-top: 20px;" class="ui message">
    <h4>Input-Property</h4>
    <p>
        You can transfer data, especially between parent- and children-components via
        <code style="font-family:'Consolas';">@Input()</code>-Proptery. The
        decorator marks the class field as an input property and provides configuration metadata. This declares a
        data-bound input propterty, which is automatically updated during change detection.
    </p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
    <p>We display this component in the <b>app.component.html</b> and replace the lecture-item with this code:</p>
    <div class="ui message black">
        <pre
            style="font-family:'Consolas'; font-size:10pt; color:#ffffff; "><span style="color:#ffffff;">&lt;app-timetable&gt;&lt;/app-timetable&gt;</span></pre>
    </div>
    <p>In the <b>timetable.component.html</b> we display now the list of lecture-items with a header beyond and a
        for-loop, because every item should be displayed the same way:</p>
   
    <div class="ui message black">
        <pre style="font-family:'Consolas'; font-size:10pt; color:#ffffff;"><span style="color:#359aff;">&lt;div </span><span style="color:#ff4848;">style=</span><span style="color:#ffffff;">&quot;margin-top: </span><span style="color:#00ff40;">15px</span><span style="color:#ffffff;">&quot;</span><span style="color:#359aff;">&gt;&lt;/div&gt;
    &lt;h2 </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;ui header&quot;</span><span style="color:#359aff;">&gt;</span><span style="color:#ffffff;">Timetable:</span><span style="color:#359aff;">&lt;/h2&gt;
    &lt;div </span><span style="color:#ff4848;">style=</span><span style="color:#ffffff;">&quot;padding: </span><span style="color:#00ff40;">15px</span><span style="color:#ff8000;">;</span><span style="color:#ffffff;">&quot;</span><span style="color:#359aff;">&gt;
        </span><span style="color:#359aff;">&lt;div </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;ui middle aligned divided list&quot;</span><span style="color:#359aff;">&gt;
            </span><span style="color:#359aff;">&lt;div</span><span style="color:#ffffff;"> *ngFor</span><span style="color:#ff4848;">=</span><span style="color:#ffffff;">&quot;let l of lectures&quot; </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;item&quot;</span><span style="color:#359aff;">&gt;
                </span><span style="color:#359aff;">&lt;a </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;app-lecture-item item&quot; [lecture]</span><span style="color:#ff4848;">=</span><span style="color:#ffffff;">&quot;l&quot; 
                </span><span style="color:#ff4848;">style=</span><span style="color:#ffffff;">&quot;margin: </span><span style="color:#00ff40;">10px</span><span style="color:#ff8000;">;</span><span style="color:#ffffff;"> padding:</span><span style="color:#00ff40;">10px</span><span style="color:#ffffff;">&quot;</span><span style="color:#359aff;">&gt;&lt;/a&gt;
        </span><span style="color:#359aff;">&lt;/div&gt;
    </span><span style="color:#359aff;">&lt;/div&gt;
&lt;/div&gt; </span></pre>
    </div>
    <p>With the construct <code style="font-family:'Consolas';">[lecture]="l"</code> we make sure that l is the lecture
        we imported via input-binding
        before.</p>
    <p class="ui info message">
        Property-Binding: Sets properties of the DOM-Tree. Syntax:<br />
        <code style="font-family:'Consolas';">[ ] = " "</code>
    </p>
</div>
<div *ngIf="theorySmall" style="margin-top: 20px;" class="ui message">
    <h4>Directives</h4>
    <p>Constructs like <code style="font-family:'Consolas';">*ngFor</code> are called "Directives". With this you can
        make loops in the HTML similar to
        loops in the logic code (TypeScript, Java,...), like you may know. </p>
    <p>Every time I iterate over my list of items (if you read also the code examples, it's a list of lectures) I take
        one single item out of all items and for this item is displayed what I defined for one item as HTML code before. With the
        attribute <code style="font-family:'Consolas';">[lecture]</code> I give the respective lecture object. And with
        this for-loop I repeat this for all the items (lectures) I have.</p>
    <p>Another directive we already used before is <code style="font-family:'Consolas';">*ngIf</code>. For who read the code: because we made
        department a optional property, someone may not set a value for this property. So we want to ask if this property has a value and just display
        the corresponding div if it has one.</p>
    <p>This is also called templating-microsyntax, because the way we iterate over an array is not just a simple
        templating expression, it is a very small own language that generates DOM-elements. For every element in the
        array it creates a new instance of something. In this case
        <code style="font-family:'Consolas';">&lt;a class="app-lecture-item item" ...&gt;&lt;/a&gt;</code>.</p>
    <p class="ui info message">
        Structurdirectives: Directives to manipulate the DOM-Tree.
        Syntax:
        <br />
        <code style="font-family:'Consolas';">*ngFor="let lecture of lectures" <br />
        *ngIf="lecture.department"</code>
    </p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
    <h4>Visualization of the Construction:</h4>
    <p><img class="ui image large centered" src="assets/img/App-Building-4.png"></p>

    <h4>Details View</h4>
    <p>Later we want to be able to make changes within a lecture item so we want select one lecture and get its details
        view via click. So first we need a variable for the selected lecture in the <b>timetable.component.ts</b>
        and second we need a function, we call it <code style="font-family:'Consolas';">onSelect()</code>, which assigns
        the clicked lecture from the
        template to the <code style="font-family:'Consolas';">selectedLecture</code> of the component.</p>
    
    <div class="ui message black">
        <pre style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#ffffff;">selectedLecture</span><span style="color:#008000;">:</span><span style="color:#ffffff;"> Lecture</span><span style="color:#b16565;">;</span>
<span style="color:#ffffff;">onSelect</span><span style="color:#b16565;">(</span><span style="color:#ffffff;">lecture</span><span style="color:#008000;">:</span><span style="color:#ffffff;"> Lecture</span><span style="color:#b16565;">)</span><span style="color:#008000;">: </span><span style="color:#359aff;">void </span><span style="color:#b16565;">&#123;</span>
    <span style="color:#359aff;">this</span><span style="color:#ffffff;">.selectedLecture </span><span style="color:#008000;">=</span><span style="color:#ffffff;"> lecture</span><span style="color:#b16565;">;
&#125;</span></pre>
    </div>
    <p>Of course we also need to import the class <code style="font-family:'Consolas';">Lecture</code>.</p>
    <div class="ui message black">
      <pre
      style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#359aff;">import </span><span style="color:#b16565;">&#123;</span><span style="color:#ffffff;"> Lecture </span><span style="color:#b16565;">&#125;</span><span style="color:#ffffff;"> from </span><span style="color:#ffff80;">&#39;./lecture&#39;</span><span style="color:#b16565;">;</span></pre>
    </div>

    <p>We add a click-event-binding to the <b>timetable.component.html</b>:</p>
  
    <div class="ui message black">
        <pre
            style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#359aff;">&lt;a </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;app-lecture-item item&quot; [lecture]</span><span style="color:#ff4848;">=</span><span style="color:#ffffff;">&quot;l&quot; 
    (click)</span><span style="color:#ff4848;">=</span><span style="color:#ffffff;">&quot;onSelect(l)&quot; </span><span style="color:#ff4848;">style=</span><span style="color:#ffffff;">&quot;margin: </span><span style="color:#00ff40;">10px</span><span style="color:#ff8000;">;</span><span style="color:#ffffff;"> padding:</span><span style="color:#00ff40;">10px</span><span style="color:#ffffff;">&quot;</span><span style="color:#359aff;">&gt;&lt;/a&gt;</span></pre>
    </div>
    <p class="ui info message">Event-Binding: Interrogate results and treat them. Syntax: <br />
        <code style="font-family:'Consolas';">() = " "</code>
    </p>
    <p>We want to display the clicked lecture beneath the list of all lectures. Therefor we need to add some code for
        the selected lecture, but just if there is a lecture selected. To make this sure, we have the <code
            style="font-family:'Consolas';">*ngIf</code>
        directive.</p>
    <p>In the <b>timetable.component.html</b> we need to insert the following code snippet beneath the existing code:</p>

    <div class="ui message black">
        <pre style="font-family:'Consolas'; font-size:10pt; color:#ffffff;"><span style="color:#359aff;">&lt;div </span><span style="color:#ff4848;">style=</span><span style="color:#ffffff;">&quot;padding: </span><span style="color:#00ff40;">15px</span><span style="color:#ff8000;">;</span><span style="color:#ffffff;">&quot;</span><span style="color:#359aff;">&gt;
    </span><span style="color:#359aff;">&lt;div </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;ui middle aligned divided list&quot;</span><span style="color:#359aff;">&gt;
        </span><span style="color:#359aff;">&lt;div</span><span style="color:#ffffff;"> *ngIf</span><span style="color:#ff4848;">=</span><span style="color:#ffffff;">&quot;selectedLecture&quot; </span><span style="color:#ff4848;">style=</span><span style="color:#ffffff;">&quot;padding: </span><span style="color:#00ff40;">50px</span><span style="color:#ff8000;">;</span><span style="color:#ffffff;">&quot;</span><span style="color:#359aff;">&gt;
        </span><span style="color:#359aff;">&lt;h4&gt;</span><span style="color:#ffffff;"> <span>{{</span>selectedLecture.name<span>}}</span> Details </span><span style="color:#359aff;">&lt;/h4&gt;
                </span><span style="color:#359aff;">&lt;div </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;description&quot;</span><span style="color:#359aff;">&gt;</span><span style="color:#ffffff;">Where? <span>{{</span>selectedLecture.building<span>}}</span>/
                <span>{{</span>selectedLecture.floor<span>}}</span>.<span>{{</span>selectedLecture.room<span>}}</span> </span><span style="color:#359aff;">&lt;/div&gt;
                </span><span style="color:#359aff;">&lt;div </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;description&quot;</span><span style="color:#359aff;">&gt;</span><span style="color:#ffffff;">When? <span>{{</span>selectedLecture.day<span>}}</span>,
                <span>{{</span>selectedLecture.time.hours<span>}}</span>:<span>{{</span>selectedLecture.time.minutes<span>}}</span> </span><span style="color:#359aff;">&lt;/div&gt;
                </span><span style="color:#359aff;">&lt;div</span><span style="color:#ffffff;"> *ngIf</span><span style="color:#ff4848;">=</span><span style="color:#ffffff;">&quot;selectedLecture.department&quot; </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;description&quot;</span><span style="color:#359aff;">&gt;</span><span style="color:#ffffff;">Department:
            <span>{{</span>selectedLecture.department<span>}}</span> </span><span style="color:#359aff;">&lt;/div&gt;
        </span><span style="color:#359aff;">&lt;/div&gt;
    </span><span style="color:#359aff;">&lt;/div&gt;
&lt;/div&gt;</span></pre>
    </div>
    <p>Now we did ask, is there a <code style="font-family:'Consolas';">selectedLecture</code>, then display the
        <code style="font-family:'Consolas';">selectedLecture.name, selectedLecture.building</code>
        and all the other information.</p>
</div>

<div *ngIf="praxis" style="margin-top: 20px;">
    <h4>Make it an Input Form</h4>
    <p>If we want to make changes in the details of a lecture, we are going to need two-way-binding and input fields.
    </p>
    <p class="ui info message">Two-Way-Binding: Can read in properties and process results. Syntax: <br />
        <code style="font-family:'Consolas';">[()] = " "</code>
    </p>
    <p>First we need to import the FormsModule in <b>app.module.ts</b>:</p>

    <div class="ui message black">
        <pre
            style="font-family:'Consolas'; font-size:10pt; color:#ffffff;"><span style="color:#359aff;">import </span><span style="color:#b16565;">&#123;</span><span style="color:#ffffff;"> FormsModule </span><span style="color:#b16565;">&#125;</span><span style="color:#ffffff;"> from </span><span style="color:#ffff80;">&#39;@angular/forms&#39;</span><span style="color:#b16565;">;</span></pre>
    </div>

    <div class="ui message black">
        <pre style="font-family:'Consolas'; font-size:10pt; color:#ffffff; "><span style="color:#ffffff;">imports</span><span style="color:#008000;">: </span><span style="color:#008000;">[
    </span><span style="color:#ffffff;">...</span><span style="color:#b16565;">,
    </span><span style="color:#ffffff;">FormsModule
</span><span style="color:#008000;">]</span><span style="color:#b16565;">,</span></pre>
    </div>
    <p>Afterwards we can make the changes in <b>timetable.component.html</b> with <code
            style="font-family:'Consolas';">[(ngModel)]</code>, the
        bidirectional data-binding of Angular. It binds the selectedLecture.name property to the HTML input field so
        that
        data can flow in both directions: from the selectedLecture.name property to the input field and from the input
        field
        back to the selectedLecture.name.</p>
    <p>This is going to be a lot of code, because the input form should already look good and provide drop-downs for an
        easier input. For one item the code will look like this:</p>

    <div class="ui message black">
        <pre style="font-family:'Consolas'; font-size:10pt; color:#ffffff;"><span style="color:#359aff;">&lt;div </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;field&quot;</span><span style="color:#359aff;">&gt;
    </span><span style="color:#359aff;">&lt;label&gt;</span><span style="color:#ffffff;">Name of the Lecture*:</span><span style="color:#359aff;">&lt;/label&gt;
    </span><span style="color:#359aff;">&lt;div </span><span style="color:#ff4848;">class=</span><span style="color:#ffffff;">&quot;field&quot;</span><span style="color:#359aff;">&gt;
        </span><span style="color:#359aff;">&lt;input</span><span style="color:#ffffff;"> [(ngModel)]</span><span style="color:#ff4848;">=</span><span style="color:#ffffff;">&quot;selectedLecture.name&quot; </span><span style="color:#ff4848;">placeholder=</span><span style="color:#ffffff;">&quot;Name&quot; </span><span style="color:#359aff;">/&gt;
    </span><span style="color:#359aff;">&lt;/div&gt;
&lt;/div&gt;</span></pre>
    </div>
    <p>Replace the old code for the details with this code for every input and finally the app looks like in the code editor at the end of this page.</p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
    <h4>Visualization of the Construction:</h4>
    <p><img class="ui image large centered" src="assets/img/App-Building-5.png"></p>
    <div class="ui success message">
        <h4>Summary</h4>
        <ul>
            <li>You learned about directives</li>
            <li>You used <code style="font-family:'Consolas';">*ngIf</code> to show or hide the department</li>
            <li>You binded the lecture via <code style="font-family:'Consolas';">@Input()</code> binding and set the
                property via property binding</li>
            <li>You applied the <code style="font-family:'Consolas';">*ngFor</code> directive to display a list of
                lectures</li>
            <li>You prepared a details view for lectures and displayed it with a click event</li>
            <li>You imported the <code style="font-family:'Consolas';">FormsModule</code> in the <code
                    style="font-family:'Consolas';">AppModule</code></li>
            <li>You made the details view editable because you applied the <code
                    style="font-family:'Consolas';">NgModel</code> directive and made it an input form</li>
        </ul>
    </div>
    <iframe style="margin-top:20px; width:100%; height: 500px"
        src="https://stackblitz.com/edit/where-to-go-step-3?embed=1&file=src/app/timetable/timetable.component.html&hideNavigation=1"></iframe>
</div>