<h2>Routing</h2>

<h4>Routing Module</h4>

<div *ngIf="praxis">
  <p>If we do not want to arrange the components among each other we need a navigation logic to route between
    components. If you answered the question if you want to have routing during the creation of the project with (Y)
    you will already have the file <b>app-routing.module.ts</b> in your project folder. If not generate it:</p>
  <p class="ui message black"> <code>ng generate module app-routing --flat --module=app</code></p>
</div>

<div *ngIf="theorySmall" style="margin-top: 20px;">
  <p>Routes tell the router which view to display when the user clicks on a link or inserts a URL in the address bar of
    the browser.
    A typical Angular route has two properties:
  </p>
  <ul>
    <li><code>path</code>: a string, that matches with the URL in the adress bar of the browser</li>
    <li><code>component</code>: the component that the router should create when navigating to this route</li>
  </ul>
</div>

<div *ngIf="praxis" style="margin-top: 20px;">
  <p>First we want to have a default route. When the browser is reloading, this route is displayed by default. So we
    are going to type this into the <b>app-routing.module.ts</b> into <code>const routes: Routes = []</code>:</p>
  <p class="ui message black"> <code>&#123; path: '', redirectTo: '/where-to-go', pathMatch: 'full' &#125;</code></p>
  <p>Also insert there the other needed routes at the same location:</p>
  <p class="ui message black"> <code>&#123; path: 'timetable', component: TimetableComponent &#125; <br/>
      &#123; path: 'where-to-go', component: WhereToGoComponent &#125;</code></p>
</div>

<div *ngIf="praxis" style="margin-top: 20px;">
  <h4>Create a Navigation</h4>
  <p>Next we can delete the <code>&lt;app-where-to-go&gt;</code> and <code>&lt;app-timetable&gt;</code> from the <b>app.component.html</b>
    and just leave the title and the <code>&lt;router-outlet&gt;</code>. These components will only parts of the route
    now.</p>
  <p>The <code>&lt;router-outlet&gt;</code> indicates that the routed views are displayed here.</p>
  <p>Now we want to create the navigation. Right now we have the start page ('where-to-go') and the timetable. We tell
    the router with the <code>routerLink</code> which component to show and with the directive <code>routerLinkActive</code>
    the active item in the navigation will be highlighted. Our code in the <b>app.component.html</b> should look like
    this:</p>
  <p class="ui message black"> <code>
          &lt;div style="text-align:center"&gt; <br/>
         &nbsp; &lt;h1 class="ui header" style="margin: 30px"&gt; <br/>
         &nbsp;&nbsp;  Welcome to &#123; &#123; title &#125; &#125;! <br/>
         &nbsp;  &lt;/h1&gt; <br/>
         &nbsp; &lt;div class="ui two item menu"&gt;<br/>
         &nbsp;&nbsp;  &lt;a class="item" routerLink="/where-to-go" routerLinkActive="active"&gt;<br/>
         &nbsp;&nbsp;&nbsp;&nbsp;  Home<br/>
         &nbsp;&nbsp;  &lt;/a&gt;<br/>
         &nbsp;&nbsp;  &lt;a class="item" routerLink="/timetable" routerLinkActive="active"&gt;<br/>
         &nbsp;&nbsp;&nbsp;&nbsp;  Timetable<br/>
         &nbsp;&nbsp; &lt;/a&gt;<br/>
         &nbsp; &lt;/div&gt;<br/>
         &nbsp; &lt;router-outlet&gt;&lt;/router-outlet&gt;<br/>
        &lt;/div&gt;<br/>
        </code></p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <h4>Details in own View</h4>
  <p>The lecture details should not be in an own view now, not beneath the timetable. Delete <code>&lt;app-lecture-details [lecture]="selectedLecture"&gt;&lt;/app-lecture-details&gt;</code>
    from the <b>timetable.component.html</b>. We need an own route for them in the <b>app-routing.module.ts</b>:</p>
  <p class="ui message black"><code> &#123; path: 'event-detail/:id', component: LectureDetailsComponent &#125;</code></p>
  <p>And in the <b>timetable.component.html</b> where we iterate with a for-loop through the lectures we insert the
    routerlink for the lecture details with the ID of the clicked one:</p>
  <p class="ui message black"><code> &lt;a class="app-lecture-item item" [lecture]="l" routerLink="/lecture-details/&#123; &#123; l.id &#125; &#125;" style="margin: 10px; padding:10px"&gt; &lt;/a&gt;
    </code></p>
  <p>When you click on the first lecture you will see this in the address bar of your browser:
    <img style="margin-bottom:15px;" class="ui centered medium image" src="assets/img/Browser-Navigates-To-Id.png">
    But you will not see the details view. First we need to change some things. Delete <code>selectedLecture</code> and
    the <code>onSelect()</code> method from the <b>timetable.component.ts</b>. Because of the routing you will not need
    it anymore.
  </p>
</div>
<div *ngIf="theorySmall" style="margin-top: 20px;">
  <p>Before the parent <code>LectureItemComponent</code> property (<code>lecture</code>) sets the <code>LectureDetailsComponent</code>
    property (<code>lecture</code>), and the <code>LectureDetailsComponent</code> component displays the lecture. Now
    the router creates the <code>LectureDetailsComponent</code> as a respond on an URL like ~/lecture-detail/1.</p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <p>In <b>lecture-details.component.ts</b> we need to import the following and insert them as parameters in the
    constructor:</p>
  <p class="ui message black"><code>
        import &#123; ActivatedRoute &#125; from '@angular/router'; <br/>
        import &#123; LectureService &#125; from '../shared/lecture.service'; <br/>
        import &#123; Location &#125; from '@angular/common'; <br/> </code></p>
  <p class="ui message black"><code>
            constructor(<br/>
            &nbsp;&nbsp;    private route: ActivatedRoute,<br/>
            &nbsp;&nbsp;    private lectureService: LectureService,<br/>
            &nbsp;&nbsp;    private location: Location<br/>
                )    &#123;  &#125;
              </code></p>
</div>
<div *ngIf="theorySmall" style="margin-top: 20px;">
  <p>The <code>ActivatedRoute</code> contains information about the route to this instance of the <code>LectureDetailsComponent</code>.
    This component is interested in the route's bag of parameters extracted from the URL. The <code>LectureService</code>
    gets the lecture data from the server and here it is used to display the lecture view. The <code>Location</code> is
    an Angular service to
    interact with the browser. We are going to use this for a function to go back to the last location.</p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <p>In the <b>lecture-datails.component.ts</b> we want to have a method that gets us one lecture by its ID and since
    we use a service class we need to define the method in <b>lecture.service.ts</b>:</p>
  <p class="ui message black"><code>
        getLecture(id: number): Observable&lt;Lecture&gt;&#123;<br/>
        &nbsp;&nbsp;return of(LECTURES.find(lecture =&gt; lecture.id === id));<br/>
            &#125; </code></p>
  <p>Now we can use it in <b>lecture-datails.component.ts</b> like this:</p>
  <p class="ui message black"><code>
                getLecture(): void &#123; <br/>
                &nbsp;&nbsp;  const id = +this.route.snapshot.paramMap.get('id'); <br/>
                &nbsp;&nbsp;  this.lectureService.getLecture(id) <br/>
                &nbsp;&nbsp;  .subscribe(lecture => this.lecture = lecture); <br/>
                  &#125;
            </code></p>
</div>
<div *ngIf="theorySmall" style="margin-top: 20px;">
  <p><code>route.snapshot</code> is a static image of the route information shortly after the component was created.
    <code>paramMap</code> is a dictionary of route parameter values extracted from the URL. The <code>id</code>> key
    returns the id of the lecture to fetch. As route parameters are strings the + JavaScript-operator converts them to
    a number, because the lecture id is one.</p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <p>In the next step we just need to add<code> void </code>as return parameter of the lifecycle-hook <code>ngOnInit()</code>
    in <b>lecture-details.component.ts</b> and call the <code>getLecture()</code> method:</p>
  <p class="ui message black"><code>
      ngOnInit(): void &#123;<br/>
      &nbsp;&nbsp;this.getLecture();<br/>
        &#125;
</code></p>
<h4>Go Back Button</h4>
  <p>As already planed, in addition to the navigation we want to have a button that brings us back to the component we
    visited before. Thats what we needed the <code>location</code> for. Add to <b>lecture-details.component.ts</b>:</p>
  <p class="ui message black"><code>goBack(): void &#123; <br/>
      &nbsp;&nbsp; this.location.back(); <br/>
      &#125;
    </code></p>
  <p>Last step is to add a button for this and bind it to the method in <b>lecture-details.component.html</b>.</p>

  <p class="ui message black"><code>        
    &lt;button class="ui button" (click)="goBack()"&gt;Go Back&lt;/button&gt;
    </code></p>
</div>


<iframe style="margin-top:20px; width:100%; height: 500px" src="https://stackblitz.com/edit/where-to-go-step-6?embed=1&file=src/app/lecture-details/lecture-details.component.ts&hideNavigation=1"></iframe>