<h2>Components</h2>
<div class="language-ts">
<div *ngIf="praxis" style="margin-top: 20px;" class="ui info message">
  <h5>User Story</h5>
  <p>As a <strong>user</strong><br />
    I want to <strong>display a lecture</strong>, <br />
    to <strong> see its details</strong>.</p>
</div>
<div *ngIf="theoryLarge" class="ui message">
  <h4>What are Components?</h4>
  <p>A component controls a specific part of the screen. In the HTML file you define the structure of a component, the CSS styles this component, together it's the view of the component. The TypeScript file contains the logic part of the component and interacts with the view.<br>
  An Angular application is basically a tree structure of components. It has a root, that is the <code class="language-ts">AppComponent</code> and also the entry point of the application.
  However, there is no difference to the other components in concept or syntax. Only difference is that the Angular framework knows that this component is the entry point of the application. If you have the root component or an other component you can put multiple other components inside it and you can interlace components deeper into each other. This is the most important architectural concept of Angular.</p>
  <p>Components consist of three parts:
  A class with the <code class="language-ts">@Component</code> decorator which marks it as a component, the HTML template and the optional CSS styles.
  With the template of a component you tell Angular how to render that view at runtime. In addition you can define the user interaction logic in the TypeScript file. The template is written in an extended HTML language (almost all HTML elements are allowed), which includes additional syntax elements like data-binding to dynamically exchange (set and get) data between DOM and the component class.</p>
  <p><img class="ui image big centered" src="assets/img/Components-1.png"></p>
</div>

<div *ngIf="praxis">
  <h3>Generate new Component</h3>
  <p>Open your command line and generate (short form <code>g</code>) your "where-to-go" component. It is going to be the page you see
    first when you start the app.</p>
  <pre class="language-bash command-line" data-user="user" data-host="localhost"><code>ng g component where-to-go</code></pre>
</div>
<div *ngIf="theorySmall" class="ui message">
  <p>Result:</p>
  <p><img class="ui image centered" style="height: 65px" src="assets/img/Create-Three-Files.png"></p>
  <p>When you add a new component the <strong>app.module.ts</strong> automatically declares your new component.
  The CLI creates three (or four) files in one subfolder for you.
  It is the skeleton for your component:<br></p>
  <ul>
    <li><code>.html</code>: Nearly empty and ready for your markup</li>
    <li><code>.spec.ts</code>: Defines unit tests for the component (for now we ignore this file)</li>
    <li><code>.ts</code>: Ready for your code, already contains necessary skeleton</li>
    <li>Optional: <code>.css</code> or <code>.styl</code> or <code>.less</code> or <code>.scss</code>: Empty styles file explicitly and exclusively for this component (depending on stylesheet format)</li>
  </ul>
  <p>
  The HTML file is nearly empty and ready for your code.
  You can ignore the spec.ts file, it defines a unit test for the component.
  The .ts file is for your TypeScript code and defines the components logic.
  </p>
</div>
<div *ngIf="theoryLarge" class="ui message">
  <p><img class="ui image medium centered" src="assets/img/Skeleton-Component.png"></p>
  <p>Each component skeleton .ts file includes a <code>@Component</code> decorator which identifies the class as component and specifies its metadata. The CLI generates three configuration options:</p>
  <ul>
    <li><code>selector</code>: CSS element selector of the component </li>
    <li><code>templateUrl</code> or <code>template</code>: Location of the component's HTML file or inline template</li>
    <li><code>stylesUrl</code> or <code>styles</code>: Location of the private CSS stylesheet or inline styles
    </li>
  </ul>
  <p>The <code>selector</code>, here "app-where-to-go", also defines the name of a custom HTML element, which tells Angular to insert an instance of this component between the opening and closing tag. 
  Most of the time this element is inserted into the template of the parent component.</p>
  <p><code>ngOnInit</code> is one of the provided component lifecycle hook methods. 
  Angular calls this function once after creating the component with the <code>constructor</code>. Therefore it is the right function to place additional initialisation logic.</p>
  <p>The component's class always needs to be exported, to reuse it in other files, e.g. in the <code>AppModule</code>.</p>
</div>
<div *ngIf="theoryLarge" class="ui message">
  <h4>Lifecycle of a Component</h4>
  <p>Every component has a lifecycle that is controlled by Angular. 
  Angular creates a component instance, renders its view, monitors for changes in its data-bound properties and, in the end, destroys it.
  The Angular framework provides lifecycle hooks for each of these key events and enables the programer to act upon these occurrence. All methods are not just plain functions, instead Angular has its own interface for each.</p>
  <p><img class="ui image large centered" src="assets/img/Lifecycle.png"></p>
  <ul>
    <li><code>constructor()</code>:<br>
    Normal JavaScript class constructor, but important when considering the lifecycle of a component since it is responsible for the instantiation of the component. 
    Don't put much logic into the constructor because when the constructor is called, neither input- and output-data-bindings  nor the child components are available.</li>

    <li><code>ngOnChanges()</code>:<br>
    Called once before <code>ngOnInit()</code> and afterwards every time an
    input-binding changes.</li>

    <li><code>ngOnInit()</code>:<br>
    Called once after the first <code>ngOnChanges()</code>, after all input-data-bindings are initialised.
    It offers the possibility to run additional initialisation logic you have, for example to request the data from the backend.</li>

    <li><code>ngDoCheck()</code>:<br>
    Called once after first <code>ngOnInit()</code> and afterwards every change detection.
    To find and react on changes, which Angular does not detect on its own.</li>

    <li><code>ngAfterContentInit()</code>:<br>
    Called once after the first <code>ngDoCheck()</code>.
    With it you can react to the initialisation of child components.</li>

    <li><code>ngAfterContentChecked()</code>:<br>
    Called once after <code>ngAfterContentInit()</code> and afterwards every <code>ngDoCheck</code>.
    Invoked after the change detector checked all properties.</li>

    <li><code>ngAfterViewInit()</code>:<br>
    Called once after the first <code>ngAfterContentChecked()</code>.
    The view of the child-components is accessable</li>

    <li><code>ngAfterViewChecked()</code>:<br>
    Called once after <code>ngAfterViewInit</code> and afterwards every <code>ngAfterConctentChecked</code>.
    Invoked after the change detector checked the component's view if the view needs to be redrawn.

    <li><code>ngOnDestroy()</code>:<br>
    Called once right before Angular destroys the componenent.
    Cleanup tasks, which might be necessary if a component subscribed to data streams and to detach event handlers (Avoid memory leaks).</li>
  </ul>
</div>
<div *ngIf="praxis">
  <h3>(Re)use a Component</h3>
  <p>We can now use the <code>selector</code></p>
  <pre class="language-html"><code>&lt;app-where-to-go&gt;&lt;&#47;app-where-to-go&gt;</code></pre>

  <p>and insert it into any component template (remember the component tree structure and avoid circular interdependencies!), in our case into the <strong>app.component.html</strong>.
  Now the app shows the component at this location, just like it would do with every other HTML tag.</p>
</div>

<div *ngIf="theoryLarge" class="ui message">
  <h4>Communication between Logic and View</h4>
  <p>As we already learned every component consists of at least two parts: logic (&lt;<em>component</em>&gt;.ts) and view (&lt;<em>component</em>&gt;.html).
  To ensure the information flow between these two we can use different types of bindings:</p>
  <ol>
    <li><strong>Property Binding</strong>:<br />
    One-way data flow from source to view<br>
    Set property of a target element based on an expression (most common is a component property).
    You assign them with square brackets.<br />
    <code class="language-html">&lt;element [property]="expression"&gt;...&lt;/element&gt;</code>
    </li>
    <li><strong>Interpolation</strong>:<br />
    One-way data flow from source to view<br>
    Embeds an expression (to display component properties or calculated values) as string into the text between HTML tags.<br />
    <code class="language-html">&lt;div&gt;<span>{{</span> expression <span>}}</span>&lt;/div&gt;</code>
    </li>
    <li><strong>Event Binding</strong>:<br />
    One-way data flow from view to source<br>
    This is kind of the opposite of a property binding.
    It is possible to react to the occurrence of DOM events, e.g. in order to change the application model by calling a function.<br />
    <code class="language-html">&lt;element (event)="statement"&gt;...&lt;/element&gt;</code>

    </li>
    <li><strong>Two-Way Binding</strong>:<br />
    Use this if you want to share data between a component class and its template. Specifies an element property and listens for all element change events.<br />
    <code class="language-html">&lt;element [(elementProperty)]="componentProperty"&gt;...&lt;/element&gt;</code><br />
    It is a combination of property and an event binding. You could write the expanded form too:<br />
      <code class="language-html"
       >&lt;input [elementProperty]="componentProperty" (elementPropertyChange)="componentProperty$event"&gt;...&lt;/input&gt;</code><br>
    For <code>input</code> elements in Forms there is even the shortcut to synchronize the user's input with a data property:
    <code class="language-html">&lt;input [(ngModel)]="componentProperty"&gt;...&lt;/input&gt;</code>
    </li>
    <li><strong>Local Template reference variables</strong>:<br />
    You can create a local variable (within a template) to reference a DOM element.
    With this you have now a named pointer to the element and can access all the nodes attributes, e.g. <code>element.textContent</code>.<br />
      <code class="language-html">&lt;element #reference_name &gt;...&lt;/element&gt;
        </code> or<br/>
      <code class="language-html">&lt;element ref-reference_name&gt;...&lt;/element&gt;
          </code>
    </li>
  </ol>
  <br /><a href="https://stackblitz.com/edit/practice-part?embed=1&file=src/app/app.component.ts&hideNavigation=1"
    target="_blank"><i class="edit outline link icon"></i>Click here to try it out!</a>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <h3>Create and show Property</h3>
  <p>Now we will use data-binding to show a temporary text message on the "Home" page until we are ready to show the information about the next lecture we have to go to.
  Put this property into <strong>where-to-go.component.ts</strong>:</p>

  <pre><code>tempText: string = "Here will appear your information soon!";</code></pre>

  <p>And replace the auto generated code in the <strong>where-to-go.component.html</strong> with this code:</p>
  <pre><code>&lt;p&gt;<span>{{</span> tempText <span>}}&lt;&#47;p&gt;</span></code></pre>

  <p>This kind of data-binding is called interpolation and you just displayed the value of the property "tempText" as string in your HTML code.</p>
  <p class="ui info message"><strong>Interpolation</strong>: Shows logic data in the template.<br>
  Syntax: <code><span>{{</span> &lt;<em>property</em>&gt; <span>}}</span></code>
  </p>

  <h3>Visualization of the Construction:</h3>
  <p><img class="ui image large centered" src="assets/img/App-Building-2.png"></p>

  <h3>Create Data Classes</h3>
  <p>For our project we are going to need a class to define a "lecture". 
  With this code you can generate a TypeScript
  class in a new folder named "shared":</p>
    <pre class="command-line language-bash" data-host="localhost" data-user="user"><code>ng g class shared/lecture</code></pre>

  <p>We put it in a separated "shared" folder because all component work on the same reusable logical data structures.<br>
  In this new class we define the constructor for lecture.</p>

<pre><code>constructor(
  public id: number,
  public name: string,
  public room: string,
  public day: string,
  public time: Time,
  public building: string,
  public floor: string,
  public department?: string) &#123;
&#125;</code></pre>

  <p>Angular has its own type for time. Dependent on your used editor and the installed extensions, it may be the convenience case that you get asked right away if you want to import it.</p>
  <p><img class="ui image large centered" src="assets/img/Import-Time.png"></p>
  <p>If not, you have to do it on your own, like this:</p>

  <pre><code>import &#123; Time &#125; from "@angular/common";</code></pre>

  <h3>Generate Item Component</h3>
  <p>We want to show a complete lecture now, so we generate the component lecture-item.</p>
  <pre class="command-line language-bash" data-user="user" data-host="localhost"><code>ng g component lecture-item</code></pre>

  <p>We temporally create a static lecture inside the class "LectureItemComponent" in <strong>lecture-item.component.ts</strong> first and define all the properties the constructor requires.</p>

    <pre><code>lecture: Lecture = &#123;
  id: 1,
  name: 'Webtechnologien',
  room: '075',
  day: 'Monday',
  time: &#123;hours: 10, minutes: 15&#125;,
  building: 'WE5',
  floor: '02',
  department: 'Lehrstuhl für Medieninformatik'
&#125;</code></pre>

  <p>Of course we also need to import the class <code>Lecture</code>.</p>
  <pre><code>import &#123; Lecture &#125; from "../shared/lecture";</code></pre>

  <p>And in the <strong>lecture-item.component.html</strong> we can define how we want to display that lecture item and which properties to include.
  We use again the interpolation to display the class properties in its HTML template.</p>

  <pre><code>&lt;div style="padding: 50px;"&gt;
  &lt;div class="ui middle aligned divided list"&gt;
    &lt;div class="item"&gt;
      &lt;div class="content"&gt;
        &lt;h2 style="padding-bottom: 20px" class="header ui"&gt;
            Lecture Details:&lt;&#47;h2&gt;
        &lt;div class="header"&gt;What? <span>{{</span>lecture.name <span>}}</span>&lt;&#47;div&gt;
        &lt;div class="description"&gt;Where? <span>{{</span>lecture.building<span>}}</span>&#47;
            <span>{{</span>lecture.floor<span>}}</span>.<span>{{</span>lecture.room<span>}}</span>&lt;&#47;div&gt;
        &lt;div class="description"&gt;When? <span>{{</span>lecture.day<span>}}</span>, 
            <span>{{</span>lecture.time.hours<span>}}</span>:<span>{{</span>lecture.time.minutes<span>}}</span>&lt;&#47;div&gt;
        &lt;div *ngIf="lecture.department" class="description"&gt;
            Department: <span>{{</span>lecture.department<span>}}</span>&lt;&#47;div&gt;
      &lt;&#47;div&gt;
    &lt;&#47;div&gt;
  &lt;&#47;div&gt;
&lt;&#47;div&gt;</code></pre>

  <p>To show it beneath the "title" and the "where-to-go" component we append</p>

    <pre class="language-html"><code>&lt;app-lecture-item&gt;&lt;/app-lecture-item&gt;</code></pre>
  <p>in the <strong>app.component.html</strong>.</p>
</div>

<div *ngIf="theoryLarge" style="margin-top: 20px;" class="ui message">
  <h4>Pipes</h4>
  <p>In almost every application, instead of showing your users the raw and oftentimes complex and opaque data, you transform the fetched data (to achieve a better user experience with clearer focus) before you show it to your users.<br>
  To help you out with this task Angular comes along with pipes: Display-value transformations to be declared right in your HTML.
  With pipes you can format strings, numbers and other data into your desired output format.<br>
  Additionally there are built-in pipes and it is possible to create your own.</p>

  <p>
  In this case we are fine with the build-in pipes.
  For example you can format the date of today.
  <br>When you instantiate a <code>Date</code> object like <code>today: Date = new Date();</code>.
  And you display your date just as-is in your HTML code with
  <code><span>{{</span>today<span>}}</span></code> you will see this date-format: {{today}}
  </p>
  <p>Probably there are more readable versions to get the date at a glimpse.
  So you can use pipes to format the date:</p>
  <p><code><span>{{</span>today | date<span>}}</span></code> - Result:
    {{today | date}}</p>
  <p>It's even possible to parameterize a pipe:<br><code><span>{{</span>today | date: 'medium'<span>}}</span></code> - Result:
    {{today | date: 'medium'}}</p>
  <p><code><span>{{</span>today | date: 'fullDate'<span>}}</span></code> - Result:
    {{today | date: 'fullDate'}}</p><p>
      Or to chain pipes into useful combinations:<br>
      <code><span>{{</span>today | date | uppercase<span>}}</span></code> - Result:
    {{today | date | uppercase}}
    </p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <h3>Try a Pipe</h3>
  <p>We want to try the "UppercasePipe", which formats our string to capital letters:</p>


  <pre class="language-html"><code>&lt;div class="header"&gt;What? <span>{{</span> lecture.name | uppercase <span>}}</span>&lt;&#47;div&gt;</code></pre>

  <p class="ui info message"><strong>Pipe operator</strong>: Transforms interpolated data in the template into more display-friendly data.<br>
    Syntax: <code><span>{{</span> &lt;<em>property</em>&gt; | &lt;<em>pipe</em>&gt; <span>}}</span></code>
    </p>

</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <h3>Visualization of the Construction:</h3>
  <p><img class="ui image large centered" src="assets/img/App-Building-3.png"></p>
  <div class="ui success message">
    <h4>Summary</h4>
    <ul>
      <li>With the Angular CLI you generated other components and a class.</li>
      <li>You displayed the new components by adding them to the application shell <code
         >AppComponent</code>.</li>
      <li>You learned about components, their lifecycle, bindings and pipes.</li>
      <li>You used interpolation to show text in the template.</li>
      <li>You used your knowledge about pipes and applied the <code
         >UppercasePipe</code>.</li>
    </ul>
  </div>
  <iframe style="margin-top:20px; margin-bottom:20px; width:100%; height: 500px"
    src="https://stackblitz.com/edit/wheretogo-step-2?embed=1&file=src/app/app.component.ts&hideNavigation=1"></iframe>

<h3 id="toc_further_references">Further references</h3>
<div class="ui warning message">
  <p>Official documentation:</p>
  <ul>
    <li>Angular: <a href="https://angular.io/guide/architecture-components" target="_blank">Introduction to components</a></li>
    <li>Angular: <a href="https://angular.io/api/core/Component" target="_blank">Component Decorator</a></li>
    <li>Angular: <a href="https://angular.io/guide/lifecycle-hooks" target="_blank">Lifecycle Hooks</a></li>
    <li>Angular: <a href="https://angular.io/guide/template-syntax" target="_blank">Template Syntex</a></li>
    <li>Angular: <a href="https://angular.io/guide/pipes" target="_blank">Pipes</a></li>
    <li>Angular: <a href="https://angular.io/guide/displaying-data" target="_blank">Displaying data</a></li>
  </ul>
  <p>Advanced concepts:</p>
    <ul>
      <li>Wikipedia:<a href="https://developer.mozilla.org/de/docs/Web/HTML/Element/template" target="_blank">Template processor</a></li>
      <li>MDN: <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components" target="_blank">Web Components</a></li>
      <li>MDN: <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/template" target="_blank">&lt;template&gt;</a> and <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/slot" target="_blank">&lt;slot&gt;</a> tags</li>
      <li>MDN: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules" target="_blank">JavaScript modules</a></li>
      <li>MDN: <a href="https://developer.mozilla.org/de/docs/Web/API/Node#Properties" target="_blank">Node Properties</a></li>
    </ul>
</div>

  <div class="ui center aligned segment" style="width: 50%; margin: 0 auto">
    <h4>Your Progress:</h4>
    <mat-progress-bar style="margin-bottom:20px;" mode="determinate" value="20"></mat-progress-bar>
  </div>
</div>
</div>