<h2>Components</h2>
<div *ngIf="theoryLarge" style="margin-bottom: 20px;" class="ui message">
  <h4>What are Components?</h4>
  <p>A component controls a part of the screen. In the HTML you define the structure of a component and the CSS styles
    this structure, togehter it's the view of the component. The TypeScript file is the logic part of the component. An
    Angular application is basically an application with a tree structure. It has a root, that is the
    <code>AppComponent</code> and it's also the entry point of the application. However, there is no difference to
    the other components in concept or syntax. Only difference is that the Angular framework knows that this component
    is the entry point of the application. If you have the root component you can put other components inside. You can
    interlace the components more and more. This is the most important architecture concept of Angular.</p>
  <p><img class="ui image big centered" src="assets/img/Components-1.png"></p>
</div>
<h4>Generate new Component</h4>
<div *ngIf="praxis">
  <p>Open your command line in Visual Studio Code and generate (short form <code>g</code>) your "where-to-go"
    Component, it's going to be the page you see
    first when you start the app.</p>
  <p class="ui message black"> <code>ng g component where-to-go</code></p>
</div>
<div *ngIf="theorySmall" style="margin-top: 20px;">
  <p>Result:</p>
  <p><img class="ui image centered" style="height: 65px" src="assets/img/Create-Three-Files.png"></p>
  <p>The app.module.ts automatically imported your new component. The CLI creates three files in one folder for you.
    It's the skeleton for your component. The HTML file is nearly
    empty and ready for your code. You can ignore the spec.ts file it defines a unit test for the WhereToGoComponent.
    The .ts file is for your TypeScript code and defines the components logic.
  </p>
</div>
<div *ngIf="theoryLarge" style="margin-top: 20px;">
  <p><img class="ui image medium centered" src="assets/img/Skeleton-Component.png"></p>
  <p>There are some interesting things about the skeleton of the component.ts files. <code>@Component</code> is a
    decorator function which specifies the Angular metadata for the component. The CLI generates three metadata
    properties:</p>
  <ul>
    <li><code>selector</code>: the CSS-element-selector of the component </li>
    <li><code>templateURL</code>: the location of the components' template file</li>
    <li><code>styles</code>: the location of the private CSS style of the component (here empty, because we decided to
      import the semantic-ui for a overall style and therefor generated the project without a css for every component)
    </li>
  </ul>
  <p>The <code>selector</code> 'app-where-to-go' matches with the name of the HTML element. This name identifies the
    component within the template of the parent-component.</p>
  <p><code>ngOnInit</code> is a lifecycle hook function. Angular calls this function shortly after creating the
    component. It is the right function to place initialisation logic.</p>
  <p>The component always class needs to be exported, to reuse it anywhere else. E.g. in the AppModule.</p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <h4>Reuse Component</h4>
  <p>We can now use the <code>selector</code></p>
  <p class="ui message black"><code>&lt;app-where-to-go&gt;&lt;/app-where-to-go&gt;</code></p>
  <p>and insert it into the <b>app.component.html</b>. Now the app shows the component at this location, just like it
    would do with every other HTML tag.</p>
  <div *ngIf="theoryLarge" style="margin-top: 20px;" class="ui message">
    <h4>Communication between Logic and View</h4>
    <p>As we already learned every component consists of two parts, logic (means component.ts) and view (means
      component.html). To ensure a communication between these two we can use different types of bindings.</p>
    <ol>
      <li>Property Binding: <br />they allow you to set the value of a DOM property based on an expression.
        You assign them with square brackets.<br />
        <code>&lt;element [propterty]="expression"&gt;...&lt;/element&gt;</code>
      </li>
      <li>Interpolation: <br />
        helps to display properties of the component or calculated values as strings in the HTML view.<br />
        <code>&lt;div&gt;&#123; &#123; component-property &#125; &#125;&lt;/div&gt;</code>
      </li>
      <li>Event Binding: <br />
        this is kind of the opposite of property binding. It is possible to react to the occurrence of DOM events, in
        order to change the application model, for example.<br />
        <code>&lt;element (eventname)="action"&gt;...&lt;/element&gt;</code>

      </li>
      <li>Two-Way Binding: <br />
        use this if you want to bind a input component directly to a value of your component class.<br />
        <code>&lt;input [(ngModel)]="text"&gt;...&lt;/input&gt;</code><br />
        It is a combination of two bindings and you could write the expanded form too.<br />
        <code>&lt;input [ngModel]="text" (ngModelChange)="setOtherText($event)"&gt;...&lt;/input&gt;</code>
      </li>
      <li>Local Template-Variables: <br />
        you can create a local variable. With this you have now access to the whole DOM-API of the input field.<br />
        <code>&lt;element #myElement&gt;...&lt;/element&gt;<br/>
        </code>
      </li>
    </ol>
    <br /><a href="https://stackblitz.com/edit/practice-part-1?embed=1&file=src/app/app.component.ts&hideNavigation=1"
      target="_blank">Click here and try it!</a>
  </div>
  <h4>Create and show Property</h4>
  <p>Now we will use data-binding to show a temporary text message on the "Home" page until we are ready to show the
    information about the next lecture we have to go to. Put this property into <b>where-to-go.component.ts</b>:</p>
  <p class="ui message black"><code>  tempText: string = "Here will appear your information soon!";
      </code></p>
  <p>and replace the auto generated code in the <b>where-to-go.component.html</b> with this code:</p>
  <p class="ui message black"><code> &#123; &#123; tempText &#125; &#125; </code></p>
  <p>This kind of data-binding is called interpolation and you just displayed the value of the property "tempText" via
    your
    HTML code.</p>
  <p class="ui info message">Interpolation: Shows data in the template. Syntax: <br />
    <code>&#123; &#123; &nbsp; &#125; &#125;</code>
  </p>
  <h4>Visualization of the Construction:</h4>
  <p><img class="ui image large centered" src="assets/img/App-Building-2.png"></p>
  <h4>Create Class</h4>
  <p>For our project we are going to need a class to define a lecture. With this code you can generate a TypeScript
    class in a new folder named "shared":</p>
  <p class="ui message black"><code>ng g class shared/lecture</code></p>
  <p>In this new class we define the constructor for lecture.</p>
  <p class="ui message black"><code>
      constructor( <br/>
        &nbsp; public name: string,<br/>
        &nbsp; public room: string,<br/>
        &nbsp; public day: string,<br/>
        &nbsp; public time: Time,<br/>
        &nbsp; public building: string,<br/>
        &nbsp; public floor: string,<br/>
        &nbsp; public department?: string<br/>
    )&#123; &#125;
  </code></p>
  <p>The property department is optional in this constructor and therefor marked with a <code>?</code>. Angular has its
    own type for Time. Usually Visual Studio Code should ask you right away if you want to import it.</p>
  <p><img class="ui image large centered" src="assets/img/Import-Time.png"></p>
  <p>If not, you can force it by placing the curser behind the underlined word and press STRG + space bar, or do it on
    your own like this:</p>
  <p class="ui message black"><code>import &#123; Time &#125; from "@angular/common";</code></p>
  <h4>Generate Item Component</h4>
  <p>We want to show a complete lecture now so we generate the component lecture-item.</p>
  <p class="ui message black"><code>ng g component lecture-item</code></p>
  <p>We create a lecture the <b>lecture-item.component.ts</b> first and define all the properties the constructor
    requires.</p>
  <p class="ui message black"><code>
      lecture: Lecture = &#123; <br/>
        &nbsp; name: 'Webtechnologien',<br/>
        &nbsp; room: '075',<br/>
        &nbsp; day: 'Monday',<br/>
        &nbsp; time: &#123; hours: 10, minutes: 15 &#125;,<br/>
        &nbsp; building: 'WE5',<br/>
        &nbsp; floor: '02',<br/>
        &nbsp; department: 'Lehrstuhl für Medieninformatik'<br/>
      &#125;
  </code></p>
  <p>And in the <b>lecture-item.component.html</b> we can define what of this item and how we want to display it. We
    use the interpolation to display the properties of the component-class in this HTML-template.</p>
  <p class="ui message black"><code>
      &lt;div style="padding: 50px;"&gt; <br/>
      &nbsp; &lt;div class="ui middle aligned divided list"&gt; <br/>
      &nbsp;&nbsp; &lt;div class="item"&gt; <br/>
      &nbsp;&nbsp;&nbsp; &lt;div class="content"&gt; <br/>
      &nbsp;&nbsp;&nbsp;&nbsp; &lt;h2 style="padding-bottom: 20px" class="header ui"&gt; Lecture Details:  &lt;/h2&gt; <br/>
      &nbsp;&nbsp;&nbsp;&nbsp; &lt;div class="header"&gt;What? &#123; &#123;lecture.name&#125; &#125; &lt;/div&gt; <br/>
      &nbsp;&nbsp;&nbsp;&nbsp; &lt;div class="description"&gt;Where? &#123; &#123;lecture.building&#125; &#125;/&#123; &#123;lecture.floor&#125; &#125;.&#123; &#123;lecture.room&#125; &#125; &lt;/div&gt; <br/> 
      &nbsp;&nbsp;&nbsp;&nbsp; &lt;div class="description"&gt;When? &#123; &#123;lecture.day&#125; &#125;, <br/> 
      &nbsp;&nbsp;&nbsp;&nbsp; &#123; &#123;lecture.time.hours&#125; &#125;:&#123; &#123;lecture.time.minutes&#125; &#125; &lt;/div&gt; <br/>
      &nbsp;&nbsp;&nbsp;&nbsp; &lt;div *ngIf="lecture.department" class="description">Department: &#123; &#123;lecture.department&#125; &#125; &lt;/div&gt; <br/>
      &nbsp;&nbsp;&nbsp; &lt;/div&gt; <br/>
      &nbsp;&nbsp; &lt;/div&gt; <br/>
      &nbsp; &lt;/div&gt; <br/>
      &lt;/div&gt; <br/>
  </code></p>
  <p>To show it beneath the title and the where-to-go component we insert</p>
  <p class="ui message black"><code>&lt;app-lecture-item&gt;&lt;/app-lecture-item&gt;</code></p>
  <p>into the <b>app.component.html</b>.</p>
</div>
<h4>Pipes</h4>
<div *ngIf="theoryLarge" style="margin-top: 20px;" class="ui message">
  <p>In every application you will get data, you will transform the data and present it to the user. This data could be
    just a simple local string variable, but also much more. You could display the data as raw values or you could
    format them to achieve a better user experience. Angular comes along with many build-in pipes. With pipes you can
    format strings, numbers and other displayed data.
    Additionally it is possible to create your own pipes. In this case we are fine with the build-in pipes. For example
    you can format the date of today. When you instantiate a <code>Date</code> object like this: <br />
    <code>today: Date = new Date();</code> <br />
    You will get this format when you display it in your HTML just "raw":
  </p>
  <p>{{today}} ---- code: <code>&#123; &#123;today&#125; &#125;</code></p>
  <p>Probably users what to have another format for a date. So you can use pipes in your HTML to format the date like
    this:</p>
  <p>{{today | date}} ---- code: <code>&#123; &#123;today | date&#125; &#125;</code></p>
  <p>{{today | date: 'medium'}} ---- code: <code>&#123; &#123;today | date: 'medium'&#125; &#125;</code></p>
  <p>{{today | date: 'fullDate'}} ---- code: <code>&#123; &#123;today | date: 'fullDate'&#125; &#125;</code></p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <p>We want to try the UppercasePipe, which formats our string in capital letters:</p>

  <p class="ui message black">
    <code>&lt;div class="header"&gt;What? &#123; &#123;lecture.name | uppercase&#125; &#125; &lt;/div&gt;</code></p>
</div>
<h4>Visualization of the Construction:</h4>
<p><img class="ui image large centered" src="assets/img/App-Building-3.png"></p>
<iframe style="margin-top:20px; width:100%; height: 500px"
  src="https://stackblitz.com/edit/where-to-go-step-2?embed=1&file=src/app/app.component.ts&hideNavigation=1"></iframe>