<div>
  <h1 class="ui  header" style="text-align:center; margin: 30px; ">
    Welcome to {{ title }}!
  </h1>
  <div class="ui grid container" style="min-width: 90%">
    <div class="four wide column">
      <div></div>
      <div class="ui vertical menu" style="max-width:100%;">
        <a class="item" routerLink="/home">
          Home
        </a>
        <a class="item" routerLink="/environment">
          Environment
        </a>
        <a class="item" routerLink="/first-app">
          First Angular-App
        </a>
        <a class="item" routerLink="/typescript">
          TypeScript
        </a>
        <a class="item" routerLink="/project-overview">
          Project
        </a>
        <a class="item" routerLink="/application">
          App</a>
        <a class="item" routerLink="/components">
          Components</a>
        <a class="item" routerLink="app-components-formmodules-directives">
          Components, FormModules, Directives
        </a>
      </div>
    </div>
    <div class="twelve wide column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>