<div>
  <h1 class="ui header" style="text-align:center; margin-top: 30px; margin-left: 15%; ">
    {{ title }}
  </h1>
  <div class="ui grid container" style="min-width: 90%">
    <div class="four wide column">
      <div class="ui compact menu">
        <a class="item" (click)="theorist()">
          <img src="assets/img/Icons-01.png">
        </a>
        <a class="item" (click)="practitioner()">
          <img src="assets/img/Icons-02.png">
        </a>
        <a class="item" (click)="both()">
          <img src="assets/img/Icons-03.png">
        </a>
      </div>

      <div class="ui vertical menu" style="max-width:100%;">
        <a class="item" routerLink="/home">
          Home
        </a>
        <div class="item">
          <h4>General</h4>
          <a class="item" routerLink="/environment" routerLinkActive="active">
            Environment
          </a>
          <a class="item" routerLink="/first-app" routerLinkActive="active">
            First Angular-App
          </a>
          <a class="item" routerLink="/typescript" routerLinkActive="active">
            TypeScript
          </a>
        </div>
        <div class="item">
          <h4>Project</h4>
          <a class="item" routerLink="/project-overview" routerLinkActive="active">
            Introduction
          </a>
          <a class="item" routerLink="/application" routerLinkActive="active">
            App</a>
          <a class="item" routerLink="/components" routerLinkActive="active">
            Components</a>
          <a class="item" routerLink="/components-formmodules-directives" routerLinkActive="active">
            Components, FormModules, Directives
          </a>
          <a class="item" routerLink="/reusable-components" routerLinkActive="active">
            Reuseable Components
          </a>
          <a class="item" routerLink="/services" routerLinkActive="active">
            Services
          </a>
          <a class="item" routerLink="/routing" routerLinkActive="active">
            Routing
          </a>
          <a class="item" routerLink="/http" routerLinkActive="active">
            HTTP
          </a>
          <a class="item" routerLink="/finish-app" routerLinkActive="active">
            Finish the App
          </a>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <router-outlet></router-outlet>
      <div style="text-align:center; margin: 50px;">
        <button class="ui button primary" [routerLink]="getLast()" *ngIf="!getHideBackButton()">Back</button>
        <button class="ui button primary" [routerLink]="getNext()" *ngIf="!getHideNextButton()">Next</button>
      </div>
    </div>
  </div>
</div>