<div>
  <div style="background-color: rgb(100, 122, 151);">
  <h1  style="text-align:center; margin: 30px; color: white">
    Welcome to {{ title }}!
  </h1>
</div>
  <div class="ui grid container">
    <div class="four wide column">
      <div class="ui vertical menu">
        <a class="item" routerLink="/home">
          Home
        </a>
        <a class="item" routerLink="/environment">
          Environment
        </a>
        <a class="item" routerLink="/first-app">
          First Angular-App
        </a>
        <a class="item" routerLink="/typescript">
          TypeScript
        </a>
      </div>
    </div>
    <div class="twelve wide column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>