<h2>Project Introduction and Overview</h2>
<div>
  <h4>What can you do after?</h4>
  <p>Probably the most interesting question: What will I be able to program after working through this project?</p>
  <ul>
    <li>Create an application with many reuseable components.</li>
    <li>Show a list of items, by using built-in Angular directives.</li>
    <li>Use directives to show and hide items.</li>
    <li>Create, read, update and delete items of a list.</li>
    <li>Create forms.</li>
    <li>Use one-way and two-way-binding.</li>
    <li>Bind methods to user events, like button click.</li>
    <li>Use routing to navigate through components and their views.</li>
    <li>Format data by using pipes.</li>
    <li>Use a service to manage all the functionality.</li>
  </ul>
</div>
<div>
  <h4>What is this project about?</h4>
  <p>Every student might know the problem. It's a new semester, you have a lot of lectures and
    never know to which room
    to go next. Wouldn't it be nice to have an app, which you just have to open, which shows you where to go on the
    first
    sight.</p>
  <div class="ui info message">
    <h5>User Story</h5>
    <p>As a <b>student </b><br />
      I want to <b>have an app that shows me the room of my very next lecture</b>, <br />
      to <b>see on the first sight where to go next.</b></p>
  </div>
  <p>So this is basically the whole idea. On the first page we will display the next lecture of the day. We will also
    have lecture data to manage. We will be able to view them in a timetable, to create new or update existing
    lectures, or
    delete them.
  </p>
  <h4>Wireframes</h4>
  <p>When you start the app you will see on the "Home-Screen" the next lecture you have to go to. Above is the
    navigation.</p>
  <img style="margin-bottom:15px;" class="ui centered large image" src="assets/img/Home.png">

  <p>When you click on Timetable you will get to the list of lectures you have. There you see every lecture can be
    deleted. You can also delete all lectures with one click. Furthermore you can click the "Add-Button" to add a new
    lecture. With a click on one lecture you will get to the details of this specific lecture and you can change them.</p>
  <img style="margin-bottom:15px;" class="ui centered large image" src="assets/img/Timetable.png">

  <p>So here you can change some details and save them. Then you go back to the Timetable and see the updated list of
    lecutures.</p>
  <img style="margin-bottom:15px;" class="ui centered large image" src="assets/img/Details.png">

  <p>Last point in the menu is "Add". You can get to the add-view from there or with the add button on the
    timetable-view. There you can add a totally new lecture by making some input and choosing options from the
    drop-downs.</p>
  <img style="margin-bottom:15px;" class="ui centered large image" src="assets/img/Add.png">

</div>
<br />
<p>Here you see the finished application and you can try it:</p>
<iframe style="width:100%; height: auto"></iframe>