<h2>Project Introduction and Overview</h2>
<div>
  <h4>What am I able to do after this Tutorial?</h4>
  <p>Probably the most interesting question: What will I be able to program after working through this project?</p>
  <ul>
    <li>Create an application with many reusable components.</li>
    <li>Show a list of items by using built-in Angular directives.</li>
    <li>Use directives to show and hide items.</li>
    <li>Create, read, update and delete items of a list.</li>
    <li>Create forms.</li>
    <li>Use one-way and two-way binding.</li>
    <li>Bind methods to user events like button click.</li>
    <li>Use routing to navigate through components and their views.</li>
    <li>Format data by using pipes.</li>
    <li>Use a service to manage the whole functionality.</li>
  </ul>
</div>
<div>
  <h4>What is this project about?</h4>
  <p>Every student might know the problem. It's a new semester, you have a lot of lectures and
   you never know which room to go next. Wouldn't it be nice to have an app shows you where to go at first sight by just opening it.</p>
  <div class="ui info message">
    <h5>User Story</h5>
    <p>As a <b>student </b><br />
      I want to <b>have an app that shows me the room of my very next lecture</b>, <br />
      to <b>see where to go next at first sight.</b></p>
  </div>
  <p>So this is basically the whole idea. On the first page we will display the next lecture of the day. We will also
    have lecture data to manage. It will be possible to view all lecutres in a timetable, to create new or update existing
    lectures, or
    delete them.
  </p>
  <h4>Wireframes</h4>
  <p>When you start the app you will see the next lecture you have to go to on the "Home-Screen". Above the Home-Screen you can find the
    navigation.</p>
  <img style="margin-bottom:15px;" class="ui centered large image" src="assets/img/Home.png">

  <p>When you click on Timetable you will get to the list of lectures you have. Here you can see that every lecture can be
    deleted. You can also delete all lectures with one click. Furthermore you can click the "Add"-button to add a new
    lecture. With a click on one lecture you will get to the details of this specific lecture and you can change them.
  </p>
  <img style="margin-bottom:15px;" class="ui centered large image" src="assets/img/Timetable.png">

  <p>So here you can change some details and save them. Then you go back to the Timetable and see the updated list of
    lectures.</p>
  <img style="margin-bottom:15px;" class="ui centered large image" src="assets/img/Details.png">

  <p>The last point in the menu is "Add". From there, or with the "Add"-button on the timetable-view you can get to the add-view.
   There you can add a totally new lecture by making some input and choosing options from the drop-downs.</p>
  <img style="margin-bottom:15px;" class="ui centered large image" src="assets/img/Add.png">

</div>
<br />
<h4>How this Web-App works</h4>
<p>You will learn about the basic concepts of Angular. For every concept like components, routing, service and so on,
  you will have an own chapter with theoretical parts and practical parts. Every chapter will bring you closer to the app
  I introduced to you. At the beginning of every chapter you will find a user story about what you want to achieve and at
  the end of every chapter you will find the list of things you've learned, the visualization of the components and how
  they are arranged and the current code and how it looks.</p>
<div style="margin: 0 auto;">
  <h4>Here you see the finished application and you can try it:</h4>
  <iframe style="width:100%; height: 750px;"
    src="https://stackblitz.com/edit/where-to-go-step-8?embed=1&file=src/app/app.component.ts&hideExplorer=1&hideNavigation=1&view=preview"></iframe>
</div>