<h2>Services</h2>
<div *ngIf="praxis" style="margin-top: 20px;" class="ui info message">
  <h5>User Story</h5>
  <p>As a <b>programmer</b><br />
    I want to <b>use a service</b>, <br />
    to <b> not manage my data in the components anymore</b>.</p>
</div>
<div *ngIf="theoryLarge" style="margin-bottom: 20px;" class="ui message">
  <h4>What is a Service?</h4>
  <p>Every good application should have its logic in a service not in the components. A service is one of the main
    concepts of Angular. If you are already experienced with object-orientated programming languages, you may know the
    MVC model. The service is like the controller. A service is a function or class that provides the functionality for
    other functions or classes. It has two main tasks:</p>
  <ul>
    <li>Encapsulation of the application logic</li>
    <li>Save the data, that is needed by one or more components of the application</li>
  </ul>
  <p>The concept "Inversion of Control (IoC)" and the pattern "Dependency Injection" can help us. If you want to use a
    class at any point in the application, you could initialize this class at this point. But this solution is confusing
    and has high maintenance. For example if you change just little things in the constructor of the class you might
    have to make changes everywhere in your code. This can be avoided by giving the responsibility of generating
    dependencies to a higher authority. You are not allowed to use the key word <code
      style="font-family:'Consolas';">new</code> to create a dependency.
    You will get the dependencies from a higher authority instead. The responsibility of generating an object is
    reversed. IoC can be realized with different patterns, Angular uses dependency injection.
  </p>
  <p>Angular uses constructor injection: <br />
    <code style="font-family:'Consolas';">constructor(myDependency: MyDependencyType) &#123; &#125;</code> <br />
    To use a service like this we need to give it the decorator <code
      style="font-family:'Consolas';">@Injectable()</code>. Another possibility is to
    register the service in the <code style="font-family:'Consolas';">providers</code> array of the <code
      style="font-family:'Consolas';">AppModule</code>, but here we will use the
    other way.
  </p>
</div>
<h4>Generate a Service</h4>
<div *ngIf="theorySmall" style="margin-bottom: 20px;" class="ui message">

  <p>At the moment all the data is saved in the components. That is not the way it should be. The job of a component is
    to present data, however the direct data access is the job of a service.</p>
  <p>So in the next step we want to create a <code style="font-family:'Consolas';">LectureService</code> that all other
    classes in the application can
    use to get
    the data of the lectures. We use Angular's dependency injection to inject the service into the
    <code style="font-family:'Consolas';">LectureItemComponent</code>.
  </p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <p class="ui message black"><code style="font-family:'Consolas';">
  ng g service shared/lecture
</code></p>
</div>
<div *ngIf="theorySmall" style="margin-top: 20px;" class="ui message">
  <p>The service class uses the <code style="font-family:'Consolas';">@Injectable()</code> decorator and therefor
    imports <code style="font-family:'Consolas';">Injectable</code>. This
    service class provides now a injectable service. The decorator accepts a metadata object for the service.</p>
  <p>If you use a service for accessing the data, from now on you can change your implementation without touching the
    components.</p>
</div>

<div *ngIf="praxis" style="margin-top: 20px;">
  <p>We are going to need this function in <b>lecture.service.ts</b> to get the lecture data. For now we still use the
    mock-data.</p>

  <div class="ui message black">
    <pre style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#ffffff;">getLectures</span><span style="color:#b16565;">()</span><span style="color:#008000;">:</span><span style="color:#ffffff;"> Lecture</span><span style="color:#008000;">[] </span><span style="color:#b16565;">&#123;
  </span><span style="color:#359aff;">return</span><span style="color:#ffffff;"> LECTURES</span><span style="color:#b16565;">;
&#125;</span></pre>

  </div>
  <p>Your Visual Studio Code or you should import <code style="font-family:'Consolas';">Lecture</code> and <code
      style="font-family:'Consolas';">LECTURES</code> now.</p>

  <div class="ui message black">
    <pre
      style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#359aff;">import </span><span style="color:#b16565;">&#123;</span><span style="color:#ffffff;"> Lecture </span><span style="color:#b16565;">&#125;</span><span style="color:#ffffff;"> from </span><span style="color:#ffff80;">&#39;./lecture&#39;</span><span style="color:#b16565;">;
</span><span style="color:#359aff;">import </span><span style="color:#b16565;">&#123;</span><span style="color:#ffffff;"> LECTURES </span><span style="color:#b16565;">&#125;</span><span style="color:#ffffff;"> from </span><span style="color:#ffff80;">&#39;./mock-lectures&#39;</span><span style="color:#b16565;">;</span></pre>
  </div>
</div>
<h4>Inject the Service</h4>
<div *ngIf="praxis" style="margin-top: 20px;">
  <p>We are going to add a parameter of type <code style="font-family:'Consolas';">LectureService</code> to the
    constructor of the
    <b>timetable.component.ts</b>:</p>

  <div class="ui message black">
    <pre
      style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#ff8000;">constructor</span><span style="color:#b16565;">(</span><span style="color:#359aff;">private</span><span style="color:#ffffff;"> lectureService</span><span style="color:#008000;">:</span><span style="color:#ffffff;"> LectureService</span><span style="color:#b16565;">) </span><span style="color:#b16565;">&#123; </span><span style="color:#b16565;">&#125; </span></pre>
    </div>
</div>
<div *ngIf="theorySmall" style="margin-top: 20px;" class="ui message">
  <p>This added parameter <code style="font-family:'Consolas';">lectureService</code> defines also a property of the
    service class as well as it
    identifies it as an injection. With the dependency injection sets the parameter <code
      style="font-family:'Consolas';">lectureService</code> to the
    singleton instance of the <code style="font-family:'Consolas';">LectureService</code>. The singleton pattern is a
    software design pattern that
    ensures that exactly one object exists in a class.</p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <p>Now replace the <code style="font-family:'Consolas';">lecture</code> propterty in <b>timetable.component.ts</b> and
    import the
    <code style="font-family:'Consolas';">LectureService</code>
    if it wasn't imported automatically by adding the parameter in the constructor before.</p>

  <div class="ui message black">
    <pre
      style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#359aff;">import </span><span style="color:#b16565;">&#123;</span><span style="color:#ffffff;"> LectureService </span><span style="color:#b16565;">&#125;</span><span style="color:#ffffff;"> from </span><span style="color:#ffff80;">&#39;../shared/lecture.service&#39;</span><span style="color:#b16565;">;
</span><span style="color:#359aff;">import </span><span style="color:#b16565;">&#123;</span><span style="color:#ffffff;"> Lecture </span><span style="color:#b16565;">&#125;</span><span style="color:#ffffff;"> from </span><span style="color:#ffff80;">&#39;./lecture&#39;</span><span style="color:#b16565;">;</span></pre>
  
</div>

<div class="ui message black">
  <pre
    style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#ffffff;">lectures</span><span style="color:#008000;">:</span><span style="color:#ffffff;"> Lecture</span><span style="color:#008000;">[]</span><span style="color:#b16565;">; </span></pre>

</div>
  <p>Next we are going to use the method of the service class to get the lectures into our <code
      style="font-family:'Consolas';">lecture</code> array.
  </p>

  <div class="ui message black">
    <pre style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#ffffff;">getLectures</span><span style="color:#b16565;">()</span><span style="color:#008000;">: </span><span style="color:#359aff;">void </span><span style="color:#b16565;">&#123;
  </span><span style="color:#359aff;">this</span><span style="color:#ffffff;">.lectures </span><span style="color:#008000;">= </span><span style="color:#359aff;">this</span><span style="color:#ffffff;">.lectureService.getLectures</span><span style="color:#b16565;">();
&#125;</span></pre>

  </div>
  <p>In the lifecycle hook <code style="font-family:'Consolas';">ngOnInit()</code> the method is called and executed
    when loading the browser.</p>

  <div class="ui message black">
    <pre style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#ffffff;">ngOnInit</span><span style="color:#b16565;">() </span><span style="color:#b16565;">&#123;
  </span><span style="color:#359aff;">this</span><span style="color:#ffffff;">.getLectures</span><span style="color:#b16565;">();
&#125; </span></pre>

  </div>
</div>
<h4>Observable Data</h4>
<div *ngIf="theorySmall" style="margin-top: 20px;" class="ui message">
  <p>The service method <code style="font-family:'Consolas';">getLectures()</code> now has a synchronous signature which
    means that the service can
    fetch data synchronously. This is just working because we fetch mock-data right now. If we have a real app with
    real data this will not work at all. Fetching data from a remote server is an asynchronous operation. In the "real"
    world the service has to wait for the respond of the server and the method cannot return immediately.</p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <p><code style="font-family:'Consolas';">LectureService.getLectures()</code> needs to have a asynchronous signature,
    therefor we will return a
    <code style="font-family:'Consolas';">Observable</code>.
    We need to import in <b>lecture.service.ts</b>:</p>

  <div class="ui message black">
    <pre
      style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#359aff;">import </span><span style="color:#b16565;">&#123;</span><span style="color:#ffffff;"> Observable</span><span style="color:#b16565;">,</span><span style="color:#ffffff;"> of </span><span style="color:#b16565;">&#125;</span><span style="color:#ffffff;"> from </span><span style="color:#ffff80;">&#39;rxjs&#39;</span><span style="color:#b16565;">; </span></pre>
  </div>
  <p>And replace the method with this code:</p>

  <div class="ui message black">
    <pre style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#ffffff;">getLectures</span><span style="color:#b16565;">()</span><span style="color:#008000;">:</span><span style="color:#ffffff;"> Observable&lt;Lecture</span><span style="color:#008000;">[]&gt; </span><span style="color:#b16565;">&#123;
  </span><span style="color:#359aff;">return</span><span style="color:#ffffff;"> of </span><span style="color:#b16565;">(</span><span style="color:#ffffff;">LECTURES</span><span style="color:#b16565;">);
&#125;</span></pre>

  </div>
  <p>We also need to replace the method in <b>timetable.component.ts</b> now.</p>

  <div class="ui message black">
    <pre style="font-family:'Consolas'; font-size:10pt; color:#ffffff;  "><span style="color:#ffffff;">getLectures</span><span style="color:#b16565;">()</span><span style="color:#008000;">: </span><span style="color:#359aff;">void </span><span style="color:#b16565;">&#123;
  </span><span style="color:#359aff;">this</span><span style="color:#ffffff;">.lectureService.getLectures</span><span style="color:#b16565;">()
</span><span style="color:#ffffff;">  .subscribe</span><span style="color:#b16565;">(</span><span style="color:#ffffff;">lectures </span><span style="color:#008000;">=&gt; </span><span style="color:#359aff;">this</span><span style="color:#ffffff;">.lectures </span><span style="color:#008000;">=</span><span style="color:#ffffff;"> lectures</span><span style="color:#b16565;">);
&#125; </span></pre>
  </div>
</div>
<div *ngIf="theorySmall" style="margin-top: 20px;" class="ui message">
  <p><code style="font-family:'Consolas';" style="font-family:'Consolas';">Observable.subscribe()</code> makes a huge
    difference. Before we had a synchronous assignment of the array
    of lectures to the <code style="font-family:'Consolas';" style="font-family:'Consolas';">lectures</code> property
    and this assignment wanted back the data immediately. Now we wait
    for the <code style="font-family:'Consolas';" style="font-family:'Consolas';">Observable</code> to return the array
    of lectures, even if this is after a view minutes. Then
    <code style="font-family:'Consolas';" style="font-family:'Consolas';">subscribe()</code> passes the emitted array to
    the callback, which sets the component's lecture property.
    You will learn more about observable data in the chapter <a routerLink="/http">HTTP</a>.
  </p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <h4>Visualization of the Construction:</h4>
  (No changes here)
  <p><img class="ui image large centered" src="assets/img/App-Building-6.png"></p>

  <div class="ui success message">
    <h4>Summary</h4>
    <ul>
      <li>You learned about services</li>
      <li>You generated a service and performed constructor injection</li>
      <li>You made the signature of the methods asynchronous</li>
    </ul>
  </div>
  <iframe style="margin-top:20px; width:100%; height: 500px"
    src="https://stackblitz.com/edit/where-to-go-step-5?embed=1&file=src/app/timetable/timetable.component.ts&hideNavigation=1"></iframe>
</div>