<h2>Reusable Components</h2>
<div *ngIf="praxis" style="margin-top: 20px;" class="ui info message">
  <h5>User Story</h5>
  <p>As a <b>programer</b><br />
    I want to <b>have the details view seperated from the list</b>, <br />
    to <b> make it reusable</b>.</p>
</div>
<div *ngIf="praxis">
  <h4>Generate Details Component</h4>
  <p>The lecture details should be reusable, that's why they will have an extra component from now on. Just cut out the
    HTML code about the details from <b>timetable.component.html</b>. It is the whole ui form. Generate the component
    and paste it in <b>lecture-details.component.html</b>.</p>
<pre class="command-line language-bash"><code>ng g component lecture-details</code></pre>
  <p>If we want to use the details component not only for a selected item but also for every lecture item, we need to
    change <code>selectedLecture</code> to <code
     >lecture</code> again.</p>

  <p>The lecture property in <b>lecture-details.component.ts</b> must be an input property which is commented on by
    the
    <code>@Input()</code>-decorator, as it binds the external <code
     >LectureItemComponent</code> to it.</p>
      <p>Insert this right above the empty constructor:</p>

    <pre class="language-ts"><code>@Input() lecture: Lecture;</code></pre>

  <p>This results in making these imports:</p>
    <pre class="language-ts"><code>import &#123; Component, OnInit, Input &#125; from "@angular/core";
import &#123; Lecture &#125; from "../shared/lecture";</code></pre>

  <p>And put this in the <b>timetable.component.hmtl</b>:</p>

  <pre class="language-html"><code>&lt;app-lecture-details [lecture]="selectedLecture"&gt;&lt;&#47;app-lecture-details&gt;</code></pre>
</div>

<div *ngIf="theorySmall" style="margin-top: 20px;" class="ui message">
  <p>If you have components that have a main and a detail view, you should seperate them for better maintenance. In this
    expamle with the list of lectures, the component receives a lecture object through its lecture property and
    indicates it. Now every time the user selects a lecture from the list, it will be displayed in the details
    component.</p>
  <p>With the selector <code>app-lecture-details</code>
    the component can be displayed.</p>
  <p><code>[lecture]="selectedLecture"</code> creates a
    one-way-binding from the <code
     >selectedLecture</code> property
    of the <code>TimetableComponent</code> to the <code
     >lecture</code> property of the target element,
    which is
    assigned to the <code>lecture</code> property of the
    <code>LectureDetailsComponent</code>.</p>
  <p>If the user clicks on an item of that list, the <code
     >selectedLecture</code> changes. This updates the
    <code>lecture</code>
    because of the property-binding and the <code
     >LectureDetailsComponent</code> displayes the chosen object.</p>
  <p>In this section we only made "inside changes". That means that you can't see any difference in the user interface.
    We
    seperated the list and the details-view. Now a development of both components is possible, without any need to
    change the other one. The details-component is now reusable.</p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <h4>Visualization of the Construction:</h4>
  <p><img class="ui image large centered" src="assets/img/App-Building-6.png"></p>
  <div class="ui success message">
    <h4>Summary</h4>
    <ul>
      <li>You generated a reusable, seperate component for the details-view.</li>
      <li>You used the <code>@Input</code>-decorator to make the property available for
        the property binding.</li>
      <li>You made the property binding for the selected lecture.</li>
    </ul>
  </div>
  <iframe style="margin-top:20px; margin-bottom:20px; width:100%; height: 500px"
    src="https://stackblitz.com/edit/wheretogo-step-4?embed=1&file=src/app/lecture-details/lecture-details.component.html&hideNavigation=1"></iframe>

  <div class="ui center aligned segment" style="width: 50%; margin: 0 auto">
    <h4>Your Progress:</h4>
    <mat-progress-bar style="margin-bottom:20px;" mode="determinate" value="40"></mat-progress-bar>
  </div>

</div>