@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.bold {
    font-weight: bolder;
}

.border {
    border: 3px solid black;
}

code {
    font-family: 'Consolas', 'Monospace'
}

div.item a {
    display:block !important;
    width:100%;
    height:100%;
}

#headline {
    float: left;
}

#header_content {
    float: right;
}

#start_content {
    clear: both;
}

h2 {
    padding-top: 5px;
    margin-bottom: 30px;
}

h3 {
    margin-top: 30px !important;
}