@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.bold {
    font-weight: bolder;
}

.border {
    border: 3px solid black;
}

code {
    font-family: 'Consolas', 'Monospace'
}

div.item a {
    display:block !important;
    width:100%;
    height:100%;
}