<h2>Who are you?</h2>

<div class="ui three column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="assets/img/Icons-01.png">
      </div>
      <div class="content">
        <a class="header" (click)="theorist()" routerLink="/environment">Theorist</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="assets/img/Icons-02.png">
      </div>
      <div class="content">
        <a class="header" (click)="practitioner()" routerLink="/environment">Practitioner</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="assets/img/Icons-03.png">
      </div>
      <div class="content">
        <a class="header" (click)="both()" routerLink="/environment">Both</a>
      </div>
    </div>
  </div>
</div>