<div class="ui three column grid" style="text-align: center">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="assets/img/Icons-01.png">
      </div>
      <div class="content">
        <a class="header" (click)="theorist()" routerLink="/environment">Theorist</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="assets/img/Icons-02.png">
      </div>
      <div class="content">
        <a class="header" (click)="practitioner()" routerLink="/environment">Practitioner</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="assets/img/Icons-03.png">
      </div>
      <div class="content">
        <a class="header" (click)="both()" routerLink="/environment">Both</a>
      </div>
    </div>
  </div>
</div>
<h2 style="text-align: center;">Who are you?</h2>
<div style="margin: 30px;" class="ui message">
  <p>If you just want to read some theory parts about Angular, choose the theorist. If you just want to see how to code
    Angular,
    choose the practitioner. If you want to have it all, choose both.</p>
  <p><b>Recommendation</b>: Choose "Both"! You will find a visual difference between theory and practice and you will
    have everything you may interestend in on every page.</p>
</div>