<h2>Finish the Application</h2>
<div *ngIf="praxis" style="margin-top: 20px;" class="ui info message">
  <h5>User Story</h5>
  <p>As a <b>user</b><br />
    I want to <b>display the very next lecture on the front page</b>, <br />
    to <b> see immediately where to go next when I open the app</b>.</p>
</div>
<div *ngIf="theoryLarge" style="margin-top: 20px;">
  <p>This chapter doesn't contain any more theory learning units.</p>
</div>
<div *ngIf="praxis" style="margin-top: 20px;">
  <h4>Start page</h4>
  <p>There is still one page empty: the start page. On this page we want to see our next lecture and only the next one
    of the day. So first we need to prepare the <b>where-to-go.component.ts</b>. We are going to need the
    <code>LectureService</code>
    injected in the <code>constructor</code> again.</p>

    <pre class="language-ts"><code>constructor(private lectureService: LectureService) &#123; &#125;</code></pre>

  <p>Of course we also need to import the class <code>Lecture</code>.</p>

  <pre class="language-ts"><code>import &#123; LectureService &#125; from "../shared/lecture.service";</code></pre>

  <p>Then we need the <code>Date</code> of today. This <code
     >Date</code> will tell us all we need to know: the day of
    the week and the time, because we want to compare the day and time of today with the day and time of the lectures
    in the timetable to find the very next lecture to display. We need an array of <code
     >Lecture[]</code>, a
    <code>Lecture</code> variable to save the next lecture with, a <code
     >Boolean</code> that will save if there still
    is a lecture today and a <code>Lecture</code> object with initialised start values.
    We will need this to compare all objects in the timetable with this <code>Lecture</code> object and we
    overwrite it every time, a lecture is closer to the time right now than the saved lecture before.</p>

    <pre class="language-ts"><code>lectures: Lecture[] = [];
nextLecture: Lecture | undefined;
localTime: Date = new Date();
isThereANextLecture: boolean = false;
tempLecture: Lecture = &#123;
    id: 99,
    name: "Dummy",
    room: "0",
    day: this.getWeekday(),
    time: &#123;hours: 20, minutes: 15&#125;,
    building: "WE5",
    floor: "0"
&#125;;</code></pre>

  <p>Of course we also need to import the class <code>Lecture</code>.</p>
  <pre class="language-ts"><code>import &#123; Lecture &#125; from "../shared/lecture";</code></pre>

  <p>We will also have the <code>getLectures()</code> method that we call in <code
     >ngOnInit()</code>.</p>

     <pre class="language-ts"><code>ngOnInit() &#123;
    this.getLectures();
&#125;

getLectures(): void &#123;
    this.lectureService.getLectures()
      .subscribe(lectures => &#123;this.lectures = lectures;
        this.getNextLecture()&#125;
      );
&#125;</code></pre>

  <p>With the method <code>getDay()</code> we will get the weekday of today as a number.
    0 is sunday, 1 is monday and
    so on. But we need them as strings. We pick the one string from an array of strings whose index is the same
    number as todays number.</p>

    <pre class="language-ts"><code>getWeekday(): string &#123;
    var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    return days[this.localTime.getDay()];
&#125;</code></pre>

  <p>Now it's time for the function, that will return the correct next lecture for us.</p>

  <pre class="language-ts"><code>getNextLecture(): void &#123;
    let tempArray: Array&lt;Lecture&gt; = [];
    for (let lecture of this.lectures) &#123;
      if(lecture.day === this.getWeekday()) &#123;
        if(lecture.time.hours &gt;= this.localTime.getHours()) &#123;
          tempArray.push(lecture);
        &#125;
      &#125;
    &#125;

    for(let t of tempArray) &#123;
      if(t.time.hours &lt; this.tempLecture.time.hours) &#123;
        this.tempLecture = t;
        this.isThereANextLecture = true;
      &#125;
    &#125;

    if(this.isThereANextLecture) &#123;
      this.nextLecture = this.tempLecture;
    &#125;
&#125;</code></pre>

  <p>There is an empty array, we go through all lectures in the lecture array and if the day is today, we check if the
    hour is greater than or equal with the hour right now. If so we put this lecture in the prepared array. In the
    second step the function compares all lectures in the <code>tempArray</code> with
    each other and saves the smallest
    one, which means the one that is closest to the time right now and sets the boolean <code
     >true</code>. We could do
    the same thing with the minutes, but you can't be at two lectures at the same time, so this is fine now.</p>
  <p>The last step is to display it via the HTML code. If we have a <code
     >nextLecture</code>, we want to see the
    <code>nextLecture</code>s' building, floor, room, day,time and name. If there is no
    <code>nextLecture</code>, we
    want to display the text "No events today!"</p>

    <pre class="language-html"><code>&lt;div style="margin: 30px;"&gt;
    &lt;div *ngIf="nextLecture" class="ui info message"
      style="width: 50%; margin-left: 25%"&gt;
      &lt;div class="header"&gt;
          You need to be in
      &lt;&#47;div&gt;
      &lt;div class="header"&gt;
          <span>{{</span>nextLecture.building<span>}}</span>&#47;<span>{{</span>nextLecture.floor<span>}}</span>
        .<span>{{</span>nextLecture.room<span>}}</span>
      &lt;&#47;div&gt;
      &lt;div style="text-align: center;
          list-style-type: none;" class="list"&gt;
        &lt;p&gt;At <span>{{</span>nextLecture.day<span>}}</span>, <span>{{</span>nextLecture.time.hours<span>}}</span>
        :<span>{{</span>nextLecture.time.minutes<span>}}</span>&lt;&#47;p&gt;
        &lt;p&gt;For <span>{{</span>nextLecture.name<span>}}</span>&lt;&#47;p&gt;
      &lt;&#47;div&gt;
    &lt;&#47;div&gt;
    &lt;div *ngIf="!nextLecture" class="ui info message"
      style="width: 50%; margin-left: 25%"&gt;
        No events today!
    &lt;&#47;div&gt;
&lt;&#47;div&gt;</code></pre>

  <h4>Visualization of the Construction:</h4>
  (No changes here)
  <p><img class="ui image big centered" src="assets/img/App-Building-9.png"></p>
  <div class="ui success message">
    <h4>Summary</h4>
    <ul>
      <li>Nothing in this chapter should be new for you.</li>
      <li>You displayed the next lecture of the day on the start page of the application.</li>
      <li>You have learned alot, be proud of yourself!</li>
    </ul>
  </div>
  <h4>Congratulations! This is your result:</h4>
  <iframe style="margin-top:20px; margin-bottom:20px; width:100%; height: 500px"
    src="https://stackblitz.com/edit/wheretogo-step-8?embed=1&file=src/app/where-to-go/where-to-go.component.ts&hideNavigation=1"></iframe>

<h3 id="toc_further_references">Further references</h3>
<div class="ui warning message">
    <p>Official documentation:</p>
    <ul>
      <li>Angular: <a href="https://angular.io/guide/cheatsheet" target="_blank">Cheat Sheet</a></li>
      <li>Angular: <a href="https://angular.io/guide/styleguide" target="_blank">Style Guide</a></li>
    </ul>
</div>

  <div class="ui center aligned segment" style="width: 50%; margin: 0 auto">
    <h4>Your Progress:</h4>
    <mat-progress-bar style="margin-bottom:20px;" mode="determinate" value="100"></mat-progress-bar>
  </div>
</div>